In [1]:
import os
os.chdir('D:\\Dropbox\\89_其他應用\\GitHub\\PETs-Experiment')

import PETs_Experiment

In [2]:
Loader = PETs_Experiment.Loader(filepath = 'data/[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(Loader.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [3]:
is_na_A = Loader.data['workclass'].isna()
is_na_B = Loader.data['occupation'].isna()
is_na_C = Loader.data['native-country'].isna()
one_na_only = ((is_na_A & ~is_na_B & ~is_na_C) | 
               (~is_na_A & is_na_B & ~is_na_C) | 
               (~is_na_A & ~is_na_B & is_na_C))
Loader.data[one_na_only]

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,NaN,>50K
65,41,Private,109912,Bachelors,13,Never-married,Other-service,Not-in-family,White,Female,0,0,40,NaN,<=50K
83,44,Self-emp-inc,223881,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,50,NaN,>50K
188,34,State-gov,513100,Bachelors,13,Married-spouse-absent,Farming-fishing,Not-in-family,Black,Male,0,0,40,NaN,<=50K
253,42,Federal-gov,177937,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,NaN,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48694,45,Private,199590,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,NaN,<=50K
48730,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,NaN,>50K
48750,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,NaN,<=50K
48773,42,Self-emp-not-inc,217597,HS-grad,9,Divorced,Sales,Own-child,White,Male,0,0,50,NaN,<=50K
48791,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,NaN,>50K

In [4]:

# def missing_columns_action(cols_check_missing : list
#                           ,dict_action        : dict):
#     """
#     Determines the columns to be included or excluded in the missing value check.

#     This function adjusts the list of columns to check for missing values based on the specified actions in 'dict_action'.

#     Methods:
#         __missing_columns_action(col_to_check ,dict_action):
#         Adjusts columns for missing value check.
#         Returns:
#             list: A list of column names after applying the missing handle.
    
#     """

#     cols_check_missing = set(cols_check_missing)

#     if dict_action:
#         _action_keys = set(dict_action.keys())

#         if   not _action_keys.issubset({'missing', 'ignore'}):
#             raise ValueError(f"Missingist: dict_action must be either 'missing' or 'ignore', now is '{_action_keys}'.")
#         elif len(_action_keys) >= 2:
#             raise ValueError("Missingist: dict_action should not contain both 'missing' and 'ignore'. Only one action will be applied.")
#         else:
#             _action_key = _action_keys.pop()

#         _set_check_missing = cols_check_missing.copy() if _action_key == 'ignore' else {}

#         _cols = [dict_action[_action_key]] if isinstance(dict_action[_action_key], str)\
#            else  dict_action[_action_key]
#         for _col in _cols:
#             _col = {_col}
#             if not _col.issubset(cols_check_missing):
#                 raise ValueError(f"Missingist: Columns '{_col}' not found in columns of DataFrame.")
            
#             if   _action_key == 'ignore':
#                 _set_check_missing -= _col
#             elif _action_key == 'missing':
#                 _set_check_missing += _col
#     return list(_set_check_missing)




test = \
PETs_Experiment.Missingist(df_data = Loader.data
                          ,missing_columns = {'ignore': 'native-country'}
                          )
# missing_columns_action(cols_check_missing = Loader.data.columns.to_list()
#                       ,dict_action = {'ignore': 'native-country'})

test.cols_check_missing

['capital-gain',
 'capital-loss',
 'relationship',
 'occupation',
 'income',
 'workclass',
 'marital-status',
 'education',
 'age',
 'race',
 'gender',
 'educational-num',
 'hours-per-week',
 'fnlwgt']

In [5]:
Loader.data['native-country'].isna().sum()

857

In [6]:
Preprocessor =\
    PETs_Experiment.Preprocessor(
        data = Loader.data
       ,missing=True
            ,missing_method  = 'drop'
            ,missing_columns = {'ignore': 'native-country'}
    )
print(Preprocessor.data.head(1))

Missingist Drop: Dropped 2809 rows.
   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [7]:
Preprocessor.data['native-country'].isna().sum()

811