In [6]:
# reload during dev
from importlib import reload
import PET_raw_data
PET_raw_data = reload(PET_raw_data)


import PET_raw_data
dict_load = {
             '.\data\[Adt Income] adult.csv'      : {'describe_params' : {'missing_level' : {'data': {'?'}}}}
            ,'.\data\[Census] adult.data'         : {'read_params'     : {'header_exist' : 'N'
                                                                         ,'header'       : ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']
                                                                         }
                                                    ,'describe_params' : {'missing_level' : {'data': {'?'}}}
                                                    }
            ,'.\data\[NHANES] B.csv'              : {'read_params'     : {'header_exist' : 'N'
                                                                         ,'header'       : ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                                                                         }
                                                    }
            ,'.\data\[Retail] Online Retail.xlsx' : {'read_method'     : 'pandas_xlsx'
                                                    ,'read_params'     : {'sheet_name' : 'Online Retail'
                                                                         ,'str_col'    : ['InvoiceNo','StockCode','InvoiceDate','CustomerID']
                                                                         }
                                                    }
            ,'.\data\[UK-US PF] va_household_ver_1_9_instance_2.csv' : {'read_params' : {'str_col' : ['hid','rlid','admin1','admin2']}}
            ,'.\data\[UK-US PF] va_person_ver_1_9_instance_2.csv'    : {'read_params' : {'str_col' : ['hid','pid','person_number','sex']}}
            }

__temp = {}
for filepath ,file_params in dict_load.items():
    file_params_init = {'read_params'     : {'label_encoding' : 'Y'}
                       ,'describe'        : 'N'
                       ,'describe_params' : {'correlation'   : 'Y'
                                            ,'collinearity'  : 'Y'}
                       ,'report'          : 'N'
                       ,'report_params'   : {'print_report' : 'N'
                                            ,'save_report'  : 'Y'}
                       }
    file_params_init.update(file_params)
    print(f"Now is {filepath}")
    __temp[filepath] = PET_raw_data.load_data(filepath ,file_params_init)

Now is .\data\[Adt Income] adult.csv
Now is .\data\[Census] adult.data
Now is .\data\[NHANES] B.csv
Now is .\data\[Retail] Online Retail.xlsx
Now is .\data\[UK-US PF] va_household_ver_1_9_instance_2.csv
Now is .\data\[UK-US PF] va_person_ver_1_9_instance_2.csv

In [2]:
__temp['.\data\[Adt Income] adult.csv'].data.head(6)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [5]:
__temp['.\data\[Adt Income] adult.csv'].data_label_encoding.head(6)

AttributeError: 'load_data' object has no attribute 'data_label_encoding'

In [3]:
import time
from datetime import datetime
import pytz
from sdv.metadata import SingleTableMetadata
from sdv.single_table import GaussianCopulaSynthesizer ,CTGANSynthesizer ,TVAESynthesizer ,CopulaGANSynthesizer
n_sample = 1
library_name = 'SDV'



filename     = '[Adt Income] adult.csv'
out_filename = '[Adt Income]'



time_start = time.time()
__data         = __temp[f".\data\{filename}"].data.copy()
__data_row_num = __data.shape[0]
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(__data)
##
__data_label_encoding         = __temp[f".\data\{filename}"].data_label_encoding.copy()
metadata_label_encoding = SingleTableMetadata()
metadata_label_encoding.detect_from_dataframe(__data_label_encoding)
print(f"讀 2*metafile 時間 {round(time.time()-time_start ,4)} 秒")



method_name = 'GaussianCoupula'
                    #    ,'CTGAN'
                    #    ,'TVAE'
                    #    ,'CoupulaGAN'



print(f"現在套件是{method_name}")
time_start = time.time()
if   method_name == 'GaussianCoupula':
    synthesizer = GaussianCopulaSynthesizer(metadata)
    synthesizer.fit(__data)
print(f"訓練時間 {round(time.time()-time_start ,4)} 秒")




time_start = time.time()
for i in range(n_sample):
    synthesizer.reset_sampling()
    synthetic_data = synthesizer.sample(num_rows   = __data_row_num
                                        ,batch_size = 1000
                                        )
print(f"合成 {n_sample} 次時間 {round(time.time()-time_start ,4)} 秒")



synthetic_data.head(6)

AttributeError: 'load_data' object has no attribute 'data_label_encoding'

In [44]:
import time
from datetime import datetime
import pytz
from sdv.metadata import SingleTableMetadata
from sdv.single_table import GaussianCopulaSynthesizer ,CTGANSynthesizer ,TVAESynthesizer ,CopulaGANSynthesizer
n_sample = 1
library_name = 'SDV'

for filename ,out_filename in {'[Adt Income] adult.csv'                         : '[Adt Income]'
                              ,'[Census] adult.data'                            : '[Census]'
                              ,'[NHANES] B.csv'                                 : '[NHANES]'
                              ,'[Retail] Online Retail.xlsx'                    : '[Retail]'
                              ,'[UK-US PF] va_household_ver_1_9_instance_2.csv' : '[UK-US PF] Household'
                              ,'[UK-US PF] va_person_ver_1_9_instance_2.csv'    : '[UK-US PF] Person'
                              }.items():

    time_start = time.time()
    __data         = __temp[f".\data\{filename}"].data.copy()
    __data_row_num = __data.shape[0]
    metadata = SingleTableMetadata()
    metadata.detect_from_dataframe(__data)
    ##
    __data_label_encoding         = __temp[f".\data\{filename}"].data_label_encoding.copy()
    metadata_label_encoding = SingleTableMetadata()
    metadata_label_encoding.detect_from_dataframe(__data_label_encoding)
    print(f"讀 2*metafile 時間 {round(time.time()-time_start ,4)} 秒")

    for method_name in ['GaussianCoupula'
                    #    ,'CTGAN'
                    #    ,'TVAE'
                    #    ,'CoupulaGAN'
                       ]:
        print(f"現在套件是{method_name}")
        time_start = time.time()
        if   method_name == 'GaussianCoupula':
            synthesizer = GaussianCopulaSynthesizer(metadata)
            synthesizer.fit(__data)
        elif method_name == 'CTGAN':
            synthesizer = CTGANSynthesizer(metadata)
            synthesizer.fit(__data_label_encoding)
        elif method_name == 'TVAE':
            synthesizer = TVAESynthesizer(metadata)
            synthesizer.fit(__data_label_encoding)
        elif method_name == 'CoupulaGAN':
            synthesizer = CopulaGANSynthesizer(metadata)
            synthesizer.fit(__data_label_encoding)
        else:
            break
        print(f"訓練時間 {round(time.time()-time_start ,4)} 秒")

        time_start = time.time()
        for i in range(n_sample):
            synthesizer.reset_sampling()
            synthetic_data = synthesizer.sample(num_rows   = __data_row_num
                                               ,batch_size = 1000
                                               )
        print(f"合成 {n_sample} 次時間 {round(time.time()-time_start ,4)} 秒")

        exectime = datetime.now().astimezone(pytz.timezone('Asia/Taipei'))
        synthetic_data.to_csv(f".\data_dpsd\{out_filename}_[{library_name}]_[{method_name}]_{exectime.strftime('%Y%m%d_%H%M%S')}_{exectime.tzinfo.zone.replace('/' ,'_')}.csv")

讀 2*metafile 時間 0.2777 秒
現在套件是GaussianCoupula
訓練時間 23.7945 秒

Sampling rows: : 49000it [00:06, 7429.23it/s]

合成 1 次時間 6.6056 秒
讀 2*metafile 時間 0.1317 秒
現在套件是GaussianCoupula
訓練時間 16.4589 秒

Sampling rows: : 33000it [00:04, 7337.94it/s]

合成 1 次時間 4.5147 秒
讀 2*metafile 時間 0.0365 秒
現在套件是GaussianCoupula

C:\Users\justyn.chen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sdv\data_processing\numerical_formatter.py:68: RuntimeWarning: overflow encountered in multiply
  if (roundable_data == roundable_data.round(MAX_DECIMALS)).all():
C:\Users\justyn.chen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
C:\Users\justyn.chen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\rdt\transformers\numerical.py:106: RuntimeWarning: overflow encountered in multiply
  if (roundable_data == roundable_data.round(MAX_DECIMALS)).all():
C:\Users\justyn.chen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\rdt\transformers\numerical.py:112: UserWarning: No rounding scheme detected for column 'bmi'. Data will not be rounded.
  warnings.warn(
C:\Users\justyn.chen\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\core\_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

NotImplementedError: float16 indexes are not supported

In [33]:
__temp[f".\data\{filename}"].data_label_encoding

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,4,226802,1,7,4,7,3,2,1,0,0,40,39,0
1,38,4,89814,11,9,2,5,0,4,1,0,0,50,39,0
2,28,2,336951,7,12,2,11,0,4,1,0,0,40,39,1
3,44,4,160323,15,10,2,7,0,2,1,7688,0,40,39,1
4,18,0,103497,15,10,4,0,3,4,0,0,0,30,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,0
48838,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
48839,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,0
48840,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,0
48841,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [24]:
time_start

1698898659.3647377

Sampling rows:   0%|          | 0/48842 [00:00<?, ?it/s]

Sampling rows: : 49000it [00:07, 6760.71it/s]

In [20]:
synthetic_data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,63,Never-worked,96810,HS-grad,12,Separated,Craft-repair,Husband,White,Male,13203,1,39,United-States,>50K
1,23,Never-worked,203600,HS-grad,10,Married-civ-spouse,Transport-moving,Husband,White,Male,32158,19,39,United-States,<=50K
2,28,Never-worked,166505,HS-grad,5,Never-married,?,Husband,White,Male,79026,575,29,United-States,<=50K
3,41,Self-emp-not-inc,125814,Some-college,11,Never-married,Prof-specialty,Husband,White,Male,5012,376,36,United-States,>50K
4,56,Never-worked,388448,HS-grad,9,Married-civ-spouse,Craft-repair,Unmarried,White,Male,1086,713,48,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,25,Local-gov,282162,HS-grad,9,Never-married,Adm-clerical,Husband,White,Male,90457,1498,40,United-States,<=50K
48838,28,Never-worked,454520,Some-college,8,Never-married,Craft-repair,Husband,NaN,Male,93739,0,30,Holand-Netherlands,<=50K
48839,31,Never-worked,119277,Bachelors,10,Never-married,Exec-managerial,Not-in-family,White,Male,1669,0,64,United-States,<=50K
48840,41,Never-worked,294383,HS-grad,10,Separated,Prof-specialty,Husband,White,Male,64346,511,51,United-States,>50K
48841,30,Without-pay,288408,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,82244,4061,29,United-States,>50K

In [284]:
str_col = __temp.params['str_col']
if len(str_col) >= 1:
    __dict_str_col = dict.fromkeys(str_col, str)
else:
    __dict_str_col = {}
print(__dict_str_col)
data = pd.read_csv(filepath ,dtype=__dict_str_col)
print(data.dtypes)

{'hid': <class 'str'>, 'rlid': <class 'str'>, 'admin1': <class 'str'>, 'admin2': <class 'str'>}
hid        object
rlid       object
admin1     object
admin2     object
hh_size     int64
dtype: object

In [267]:
import sdv