# Environment setting / ç’°å¢ƒè¨­å®š

In [1]:
import os  # noqa: I001
import sys
from pathlib import Path


# Handle utils.py for Colab
if "COLAB_GPU" in os.environ:
    import urllib.request

    demo_utils_url = (
        "https://raw.githubusercontent.com/nics-tw/petsard/main/demo/demo_utils.py"
    )
    exec(urllib.request.urlopen(demo_utils_url).read().decode("utf-8"))
else:
    # demo_utils.py search for local
    for p in [Path.cwd()] + list(Path.cwd().parents)[:10]:
        utils_path = p / "demo_utils.py"
        if utils_path.exists() and "demo" in str(utils_path):
            sys.path.insert(0, str(p))
            exec(open(utils_path).read())
            break

ğŸ“‚ Current working directory: demo/petsard-yaml/splitter-yaml
âœ… PETsARD demo_utils loaded. Use quick_setup() to initialize.

## Quick setup / å¿«é€Ÿè¨­å®š: Splitter YAML

In [2]:
from demo_utils import display_results, display_yaml_info, quick_setup  # noqa: I001
from petsard import Executor  # noqa: I001


is_colab, branch, yaml_path = quick_setup(
    config_file=[
        "basic-splitting.yaml",
        "controlled-overlap.yaml",
        "no-overlap-splitting.yaml",
    ],
    benchmark_data=None,
    petsard_branch="main",
)

âœ… Changed working directory to demo: petsard/demo
   ğŸ“ Notebook location: demo/petsard-yaml/splitter-yaml/
   ğŸ” YAML search priority:
      1. demo/petsard-yaml/splitter-yaml/
      2. demo/
   ğŸ’¾ Output files will be saved in: demo/
ğŸš€ PETsARD v1.8.0
ğŸ“… 2025-10-18 19:52:42 UTC+8
ğŸ”§ Added to Python path: petsard/demo/petsard-yaml/splitter-yaml
ğŸ“ Processing configuration files from subfolder: petsard-yaml/splitter-yaml
âœ… Found configuration (1/3): petsard/demo/petsard-yaml/splitter-yaml/basic-splitting.yaml
âœ… Found configuration (2/3): petsard/demo/petsard-yaml/splitter-yaml/controlled-overlap.yaml
âœ… Found configuration (3/3): petsard/demo/petsard-yaml/splitter-yaml/no-overlap-splitting.yaml

# Execution and Result / åŸ·è¡Œèˆ‡çµæœ

## Basic Splitting / åŸºæœ¬åˆ†å‰²

In [3]:
display_yaml_info(yaml_path[0])
exec = Executor(yaml_path[0])
exec.run()
display_results(exec.get_result())

============================================================
ğŸ“‹ YAML Configuration Files / YAML è¨­å®šæª”æ¡ˆ
============================================================

ğŸ“„ File: basic-splitting.yaml
ğŸ“ Path: petsard/demo/petsard-yaml/splitter-yaml/basic-splitting.yaml

âš™ï¸ Configuration content / è¨­å®šå…§å®¹:
----------------------------------------
---
Loader:
  load_benchmark_with_schema:
    filepath: benchmark://adult-income
    schema: benchmark://adult-income_schema
Splitter:
  basic_split:
    num_samples: 3
    train_split_ratio: 0.8
...
============================================================
================================================================================
ğŸ“Š Execution Results / åŸ·è¡Œçµæœ
================================================================================

[1] Loader[load_benchmark_with_schema]_Splitter[basic_split_[3-1]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age         workclass  fnlwgt     education  educational-num      marital-status        occupation   relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   22           Private  401451  Some-college               10  Married-civ-spouse  Transport-moving        Husband  White   Male             0             0              48  United-States   >50K
    1   34           Private  198693          10th                6       Never-married     Other-service  Not-in-family  White   Male             0             0              30  United-States  <=50K
    2   58  Self-emp-not-inc   35551     Bachelors               13  Married-civ-spouse   Exec-managerial        Husband  White   Male             0             0              70  United-States   >50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[2] Loader[load_benchmark_with_schema]_Splitter[basic_split_[3-2]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age         workclass  fnlwgt     education  educational-num      marital-status        occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   22           Private  401451  Some-college               10  Married-civ-spouse  Transport-moving      Husband  White   Male             0             0              48  United-States   >50K
    1   58  Self-emp-not-inc   35551     Bachelors               13  Married-civ-spouse   Exec-managerial      Husband  White   Male             0             0              70  United-States   >50K
    2   29              <NA>  227026       HS-grad                9       Never-married              <NA>    Unmarried  Black   Male             0             0              40  United-States  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[3] Loader[load_benchmark_with_schema]_Splitter[basic_split_[3-3]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age workclass  fnlwgt     education  educational-num      marital-status         occupation   relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   38   Private   89814       HS-grad                9  Married-civ-spouse    Farming-fishing        Husband  White   Male             0             0              50  United-States  <=50K
    1   44   Private  160323  Some-college               10  Married-civ-spouse  Machine-op-inspct        Husband  Black   Male          7688             0              40  United-States   >50K
    2   34   Private  198693          10th                6       Never-married      Other-service  Not-in-family  White   Male             0             0              30  United-States  <=50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt     education  educational-num      marital-status         occupation relationship   race  gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802          11th                7       Never-married  Machine-op-inspct    Own-child  Black    Male             0             0              40  United-States  <=50K
    1   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White    Male             0             0              40  United-States   >50K
    2   18       <NA>  103497  Some-college               10       Never-married               <NA>    Own-child  White  Female             0             0              30  United-States  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

================================================================================
âœ… Total results / ç¸½çµæœæ•¸: 3
================================================================================

## Controlled Overlap / æ§åˆ¶é‡ç–Šæ¯”ä¾‹

In [4]:
display_yaml_info(yaml_path[1])
exec = Executor(yaml_path[1])
exec.run()
display_results(exec.get_result())

============================================================
ğŸ“‹ YAML Configuration Files / YAML è¨­å®šæª”æ¡ˆ
============================================================

ğŸ“„ File: controlled-overlap.yaml
ğŸ“ Path: petsard/demo/petsard-yaml/splitter-yaml/controlled-overlap.yaml

âš™ï¸ Configuration content / è¨­å®šå…§å®¹:
----------------------------------------
---
Loader:
  load_benchmark_with_schema:
    filepath: benchmark://adult-income
    schema: benchmark://adult-income_schema
Splitter:
  controlled_overlap:
    num_samples: 10
    train_split_ratio: 0.8
    max_overlap_ratio: 0.8  # Allow 80% overlap
    max_attempts: 500
    random_state: 42
...
============================================================
================================================================================
ğŸ“Š Execution Results / åŸ·è¡Œçµæœ
================================================================================

[1] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-01]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age         workclass  fnlwgt     education  educational-num      marital-status        occupation   relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   33              <NA>  119918     Bachelors               13       Never-married              <NA>  Not-in-family  Black   Male             0             0              45              ?  <=50K
    1   22           Private  401451  Some-college               10  Married-civ-spouse  Transport-moving        Husband  White   Male             0             0              48  United-States   >50K
    2   63  Self-emp-not-inc  104626   Prof-school               15  Married-civ-spouse    Prof-specialty        Husband  White   Male          3103             0              32  United-States   >50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[2] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-02]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age workclass  fnlwgt     education  educational-num marital-status         occupation   relationship   race  gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25   Private  189027     Bachelors               13  Never-married  Handlers-cleaners      Own-child  White    Male             0             0              40  United-States  <=50K
    1   34   Private  198693          10th                6  Never-married      Other-service  Not-in-family  White    Male             0             0              30  United-States  <=50K
    2   24   Private  369667  Some-college               10  Never-married      Other-service      Unmarried  White  Female             0             0              40  United-States  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[3] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-03]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age workclass  fnlwgt     education  educational-num      marital-status occupation relationship   race  gender  capital-gain  capital-loss  hours-per-week native-country income
    0   72      <NA>  173427       HS-grad                9  Married-civ-spouse       <NA>      Husband  White    Male             0             0              40           Cuba  <=50K
    1   18      <NA>  103497  Some-college               10       Never-married       <NA>    Own-child  White  Female             0             0              30  United-States  <=50K
    2   29      <NA>  227026       HS-grad                9       Never-married       <NA>    Unmarried  Black    Male             0             0              40  United-States  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[4] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-04]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age workclass  fnlwgt     education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25   Private  226802          11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38   Private   89814       HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   44   Private  160323  Some-college               10  Married-civ-spouse  Machine-op-inspct      Husband  Black   Male          7688             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   27    Private  205145     HS-grad                9  Married-civ-spouse  Machine-op-inspct      Husband  White   Male             0             0              40  United-States  <=50K
    1   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    2   72       <NA>  173427     HS-grad                9  Married-civ-spouse               <NA>      Husband  White   Male             0             0              40           Cuba  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[5] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-05]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age workclass  fnlwgt     education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25   Private  226802          11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38   Private   89814       HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   44   Private  160323  Some-college               10  Married-civ-spouse  Machine-op-inspct      Husband  Black   Male          7688             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status       occupation   relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   33       <NA>  119918   Bachelors               13       Never-married             <NA>  Not-in-family  Black   Male             0             0              45              ?  <=50K
    1   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse  Protective-serv        Husband  White   Male             0             0              40  United-States   >50K
    2   34    Private  198693        10th                6       Never-married    Other-service  Not-in-family  White   Male             0             0              30  United-States  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[6] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-06]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age workclass  fnlwgt  education  educational-num marital-status         occupation   relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   33      <NA>  119918  Bachelors               13  Never-married               <NA>  Not-in-family  Black   Male             0             0              45              ?  <=50K
    1   25   Private  189027  Bachelors               13  Never-married  Handlers-cleaners      Own-child  White   Male             0             0              40  United-States  <=50K
    2   34   Private  198693       10th                6  Never-married      Other-service  Not-in-family  White   Male             0             0              30  United-States  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[7] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-07]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age workclass  fnlwgt     education  educational-num      marital-status         occupation   relationship   race  gender  capital-gain  capital-loss  hours-per-week native-country income
    0   44   Private  160323  Some-college               10  Married-civ-spouse  Machine-op-inspct        Husband  Black    Male          7688             0              40  United-States   >50K
    1   18      <NA>  103497  Some-college               10       Never-married               <NA>      Own-child  White  Female             0             0              30  United-States  <=50K
    2   34   Private  198693          10th                6       Never-married      Other-service  Not-in-family  White    Male             0             0              30  United-States  <=50K
    ... (9,766 more rows) / ... (é‚„æœ‰ 9,766 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[8] Loader[load_benchmark_with_schema]_Splitter[controlled_overlap_[10-08]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (39,073 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (39,070 more rows) / ... (é‚„æœ‰ 39,070 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (9,769 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age         workclass  fnlwgt  education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   27           Private  205145    HS-grad                9  Married-civ-spouse  Machine-op-inspct      Husband  White   Male             0             0              40  United-States  <=50K
    1   58  Self-emp-not-inc   35551  Bachelors               13  Married-civ-spouse    Exec-managerial      Husband  White   Male             0             0              70  United-States   >50K

## No Overlap Splitting / ç„¡é‡ç–Šåˆ†å‰²

In [5]:
display_yaml_info(yaml_path[2])
exec = Executor(yaml_path[2])
exec.run()
display_results(exec.get_result())

============================================================
ğŸ“‹ YAML Configuration Files / YAML è¨­å®šæª”æ¡ˆ
============================================================

ğŸ“„ File: no-overlap-splitting.yaml
ğŸ“ Path: petsard/demo/petsard-yaml/splitter-yaml/no-overlap-splitting.yaml

âš™ï¸ Configuration content / è¨­å®šå…§å®¹:
----------------------------------------
---
Loader:
  load_benchmark_with_schema:
    filepath: benchmark://adult-income
    schema: benchmark://adult-income_schema
Splitter:
  no_overlap:
    num_samples: 2
    train_split_ratio: 0.01
    max_overlap_ratio: 0.0  # Completely non-overlapping
    max_attempts: 100000
    random_state: 42
...
============================================================
================================================================================
ğŸ“Š Execution Results / åŸ·è¡Œçµæœ
================================================================================

[1] Loader[load_benchmark_with_schema]_Splitter[no_overlap_[2-1]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (488 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt  education  educational-num      marital-status       occupation relationship   race  gender  capital-gain  capital-loss  hours-per-week native-country income
    0   44    Private  201924  Bachelors               13            Divorced            Sales    Unmarried  White  Female             0             0              35  United-States  <=50K
    1   48  State-gov   28419  Bachelors               13            Divorced  Exec-managerial    Unmarried  White    Male             0             0              40  United-States  <=50K
    2   33    Private  126414  Bachelors               13  Married-civ-spouse    Other-service         Wife  White  Female             0             0              40              ?  <=50K
    ... (485 more rows) / ... (é‚„æœ‰ 485 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (48,354 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (48,351 more rows) / ... (é‚„æœ‰ 48,351 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

[2] Loader[load_benchmark_with_schema]_Splitter[no_overlap_[2-2]]
------------------------------------------------------------
ğŸ“¦ Dictionary with 2 keys / åŒ…å« 2 å€‹éµçš„å­—å…¸

  â€¢ train: DataFrame (488 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age         workclass  fnlwgt     education  educational-num      marital-status    occupation   relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   50  Self-emp-not-inc  183915     Bachelors               13  Married-civ-spouse  Craft-repair        Husband  White   Male             0             0              45  United-States   >50K
    1   43  Self-emp-not-inc  160369  Some-college               10       Never-married         Sales  Not-in-family  White   Male             0             0              65  United-States  <=50K
    2   72  Self-emp-not-inc  203289  Some-college               10  Married-civ-spouse  Craft-repair        Husband  White   Male             0             0              35  United-States  <=50K
    ... (485 more rows) / ... (é‚„æœ‰ 485 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

  â€¢ validation: DataFrame (48,354 rows Ã— 15 columns)
    ğŸ“‹ Showing first 3 rows / é¡¯ç¤ºå‰ 3 è¡Œ:
       age  workclass  fnlwgt   education  educational-num      marital-status         occupation relationship   race gender  capital-gain  capital-loss  hours-per-week native-country income
    0   25    Private  226802        11th                7       Never-married  Machine-op-inspct    Own-child  Black   Male             0             0              40  United-States  <=50K
    1   38    Private   89814     HS-grad                9  Married-civ-spouse    Farming-fishing      Husband  White   Male             0             0              50  United-States  <=50K
    2   28  Local-gov  336951  Assoc-acdm               12  Married-civ-spouse    Protective-serv      Husband  White   Male             0             0              40  United-States   >50K
    ... (48,351 more rows) / ... (é‚„æœ‰ 48,351 è¡Œ)
    ğŸ“ Columns / æ¬„ä½: age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income

================================================================================
âœ… Total results / ç¸½çµæœæ•¸: 2
================================================================================