# Environment setting / Áí∞Â¢ÉË®≠ÂÆö
Default Synthesis / È†êË®≠ÂêàÊàê

In [4]:
import os
import sys
from pathlib import Path

# Ëá™ÂãïËºâÂÖ• utils / Auto-load utils
if "COLAB_GPU" in os.environ:
    url = "https://raw.githubusercontent.com/nics-tw/petsard/main/demo/utils.py"
    exec(open(url).read())
else:
    # ÈùúÈªòÊêúÂ∞ã utils.py / Silent search for utils.py
    current = Path.cwd()
    for _ in range(5):
        if (current / "utils.py").exists():
            sys.path.insert(0, str(current))
            break
        current = current.parent

    # ÂåØÂÖ• utils Ê®°ÁµÑ / Import utils module
    from utils import quick_setup

# Âø´ÈÄüË®≠ÂÆö / Quick setup
is_colab, branch, yaml_path = quick_setup(
    yaml_file="default-synthesis.yaml",
    benchmark_data=["adult-income"],
    branch="main",  # ÂèØÈÅ∏ÔºåÈ†êË®≠ÁÇ∫ "main"
)

from petsard import Executor

üöÄ PETsARD v1.7.0
üìÖ 2025-09-24 23:49:12 UTC+8
üìÅ Subfolder: tutorial
üìÑ YAML path: petsard/demo/tutorial/default-synthesis.yaml
‚öôÔ∏è Configuration content:
---
Loader:
  data:
    filepath: 'benchmark/adult-income.csv'
Preprocessor:
  demo:
    method: 'default'
Synthesizer:
  demo:
    method: 'default' # sdv-single_table-gaussiancopula
Postprocessor:
  demo:
    method: 'default'
Reporter:
  output:
    method: 'save_data'
    source: 'Postprocessor'
...

# Execution and Result / Âü∑Ë°åËàáÁµêÊûú

In [5]:
exec_case = Executor(config=yaml_path)
exec_case.run()

In [6]:
exec_case.get_result()[
    "Loader[data]_Preprocessor[demo]_Synthesizer[demo]_Postprocessor[demo]_Reporter[output]"
]["Loader[data]_Preprocessor[demo]_Synthesizer[demo]_Postprocessor[demo]"]

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,45,Private,105689,Bachelors,12,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Male,0,0,38,United-States,<=50K
1,30,Private,142167,Bachelors,9,Never-married,Craft-repair,Own-child,White,Male,0,0,35,United-States,<=50K
2,30,Private,70682,Assoc-acdm,11,Widowed,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
3,35,Private,217418,HS-grad,8,Never-married,Handlers-cleaners,Own-child,White,Female,0,0,36,United-States,<=50K
4,31,Private,85354,Some-college,11,Never-married,Other-service,Husband,Black,Male,0,0,51,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28553,45,Private,204517,Bachelors,10,Divorced,Transport-moving,Own-child,White,Female,0,0,50,United-States,<=50K
28554,40,Private,215714,HS-grad,8,Never-married,Farming-fishing,Husband,White,Female,0,0,47,United-States,<=50K
28555,37,Private,300336,HS-grad,11,Married-civ-spouse,Prof-specialty,Other-relative,White,Female,0,0,51,United-States,<=50K
28556,20,Private,283648,HS-grad,12,Married-civ-spouse,Machine-op-inspct,Husband,Black,Female,0,0,34,United-States,<=50K
28557,33,Private,117875,Bachelors,11,Married-civ-spouse,Transport-moving,Other-relative,White,Male,0,0,45,United-States,<=50K