test cases:

1. get the expected output
2. can throw out errors (unfitted, format error, etc.)
3. produce correct (or nearly correct) amount of NAs

In [14]:
import pandas as pd
import numpy as np

In [15]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [16]:
import PETsARD

In [17]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [18]:
df = loader.data

In [19]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'numerical', 'na_percentage': 0.0},
                'pir': {'type': 'numerical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [20]:
pm = PETsARD.HyperProcessor(metadata)

In [21]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [22]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [52]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': Missingist_Drop(), 'age': Missingist_Mean()},
            'outlierist': {'gen': None, 'age': Outlierist_ZScore()},
            'encoder': {'gen': Encoder_Label()},
            'scaler': {'age': Scaler_Log()}}

In [53]:
pm.update_config(config_1)

In [54]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1045bf610>,
  'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1565b1480>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x156139d50>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x15613a0b0>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x15613a1a0>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x15613a800>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Mean at 0x15613ad70>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Mean at 0x15613b700>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x156138cd0>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x15613a5c0>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x15613a770>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Mean at 0x15613ad40>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.Outlierist_ZScore at 0x1565b1450>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x15613a740>,
  'dep': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x15613b280>,
  'pir': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x15613ab60>,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x15613b820>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x156139900>,
  'qm': None,
  'dia': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x15613b2b0>},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Label at 0x156234670>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x156139cf0>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x156139db0>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x15613a1d0>,
  'bmi': None,
  'dep': None,
  'pir': None,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x15613ace0>,
  'dia': None},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Log at 0x156236d70>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x15613b460>,
  'dep': <PETsARD.Processor.Scaler.Scaler_Standard at 0x15613abc0>,
  'pir': <PETsARD.Processor.Scaler.Scaler_Standard at 0x15613b400>,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x15613a6e0>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x156139960>,
  'qm': None,
  'dia': <PETsARD.Processor.Scaler.Scaler_Standard at 0x15613af20>}}

In [55]:
pm.fit(df)

In [27]:
df_transformed = pm.transform(df)

In [28]:
df_inverse = pm.inverse_transform(df_transformed)

In [29]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Female,72.000000,Mexican,11th,Separated,28.6,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
1,Male,46.000000,White,Graduate,Parther,27.6,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2,Male,45.000004,Other,11th,Never,24.1,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
3,Female,30.000002,Hispanic,College,Parther,26.6,0.0,2.775558e-17,0.0,0.0,Q4,2.775558e-17
4,Female,27.000002,Black,College,Never,38.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
2144,Female,41.000000,Other,Graduate,Married,20.9,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2145,Male,34.000000,Black,Graduate,Married,30.9,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2146,Male,25.000002,Other,Graduate,Never,21.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2147,Female,80.000000,White,College,Widowed,31.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2148,Female,24.000000,White,Graduate,Never,21.4,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17

In [30]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [31]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [32]:
df2 = loader2.data

In [33]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [34]:
pm2 = PETsARD.HyperProcessor(metadata2)

In [35]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1560c3400>,
  'workclass': <PETsARD.Processor.Missingist.Missingist_Drop at 0x156139c00>,
  'fnlwgt': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1560cab90>,
  'education': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1560cb760>,
  'educational-num': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1560cb6a0>,
  'marital-status': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1560cb550>,
  'occupation': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1560cb490>,
  'relationship': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1560cb370>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1560c9b40>,
  'gender': <PETsARD.Processor.Missingist.Missingist_Drop at 0x156131e40>,
  'capital-gain': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1560c3430>,
  'capital-loss': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1560c9d20>,
  'hours-per-week': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1560c9db0>,
  'native-country': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1560c9ed0>,
  'income': <PETsARD.Processor.Missingist.Missingist_Drop at 0x156131330>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x155eaf010>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1560cac50>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1560cb6d0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1560c36d0>,
  'capital-loss': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1560c9cc0>,
  'hours-per-week': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1560c9e70>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x15613b370>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560cad10>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560cb460>,
  'occupation': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560c9a50>,
  'relationship': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560c99f0>,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560c9b10>,
  'gender': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560c3790>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560cb280>,
  'income': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1560cb820>},
 'scaler': {'age': <PETsARD.Processor.Scaler.Scaler_Standard at 0x155eaeb00>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1560cacb0>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1560cb610>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1560c9c60>,
  'capital-loss': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1560c9e10>,
  'hours-per-week': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1560ca020>,
  'native-country': None,
  'income': None}}

In [36]:
pm2.fit(df2)

In [37]:
df_transformed2 = pm2.transform(df2)

In [38]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.995129,0.173682,0.351675,0.840976,-1.197259,0.556197,0.786004,0.764831,0.886290,0.608127,-0.144804,-0.217127,-0.034087,0.841709,0.057822
1,-0.046942,0.582213,-0.945524,0.106148,-0.419335,0.287623,0.914166,0.044082,0.072409,0.468872,-0.144804,-0.217127,0.772930,0.268568,0.003060
2,-0.776316,0.855049,1.394723,0.854688,0.747550,0.274407,0.983775,0.262190,0.207928,0.276459,-0.144804,-0.217127,-0.034087,0.757992,0.864056
3,-1.068066,0.622402,1.704525,0.527414,-0.030373,0.559554,0.647790,0.913138,0.313205,0.914233,-0.144804,-0.217127,-0.034087,0.740477,0.722986
4,-0.192816,0.992306,0.215911,0.593443,1.136512,0.078646,0.477860,0.178373,0.042421,0.598668,-0.144804,-0.217127,-0.034087,0.234321,0.326561
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,1.047121,0.102406,1.251867,0.716903,1.525474,0.339664,0.292799,0.042721,0.747793,0.022656,-0.144804,-0.217127,-0.034087,0.104660,0.908853
26929,-1.213941,0.406008,1.140952,0.350421,-0.030373,0.607987,0.981583,0.634423,0.843912,0.656037,-0.144804,-0.217127,-0.034087,0.676869,0.011021
26930,-0.849254,0.409048,0.640492,0.847931,0.747550,0.362647,0.961481,0.958706,0.591993,0.948136,-0.144804,-0.217127,-0.195490,0.325559,0.143598
26931,0.098933,0.202761,-0.334178,0.213098,-0.419335,0.204663,0.796380,0.291485,0.098523,0.338179,-0.144804,-0.217127,-0.034087,0.112536,0.955197
26932,1.411808,0.491451,-0.357510,0.060764,-0.419335,0.979103,0.490338,0.874317,0.377645,0.727891,-0.144804,-0.217127,-0.034087,0.362904,0.497877

In [39]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [40]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,24.0,Private,369667.0,Some-college,10.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
4,36.0,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,NaN,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26929,22.0,Private,310152.0,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
26930,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
26931,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26932,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K

In [41]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [42]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [43]:
df_inverse2.isna().any(axis=1).mean()

0.07136226933501652

In [56]:
df2.dtypes

age                    int8
workclass          category
fnlwgt                int32
education          category
educational-num        int8
marital-status     category
occupation         category
relationship       category
race               category
gender             category
capital-gain          int32
capital-loss          int16
hours-per-week         int8
native-country     category
income             category
dtype: object

In [57]:
pd.api.types.is_numeric_dtype(df2.age.dtypes)

True