test cases:

1. get the expected output
2. can throw out errors (unfitted, format error, etc.)
3. produce correct (or nearly correct) amount of NAs

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
e = PETsARD.Processor.EncoderOneHot()

In [7]:
e.fit(df.edu)

In [8]:
ee = e.transform(df.edu)

In [9]:
dfe = pd.DataFrame(ee, columns=e.labels)

In [11]:
e.inverse_transform(dfe)

array(['Graduate', 'HighSchool', 'HighSchool', ..., 'College', '9th',
       'Graduate'], dtype=object)

In [6]:
m = PETsARD.Metadata()
m.build_metadata(df)

In [7]:
metadata = {'col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'numerical', 'na_percentage': 0.0},
                'pir': {'type': 'numerical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [8]:
pm = PETsARD.Processor.Base.Processor(m)

No self-defined config passed.  Generate a config automatically.

In [9]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [10]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [11]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': MissingistDrop(), 'age': MissingistSimple(5)},
            'outlierist': {'gen': None, 'age': OutlieristZScore()},
            'encoder': {'gen': EncoderLabel()},
            'scaler': {'age': ScalerLog()}}

In [12]:
config_2 = {'missingist': {'gen': MissingistDrop(), 'age': 'missingist_simple'},
            'outlierist': {'gen': None, 'age': 'outlierist_lof'},
            'encoder': {'gen': 'encoder_uniform'},
            'scaler': {'age': 'scaler_minmax'}}

In [13]:
pm.update_config(config_2)

In [14]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec7af0>,
  'age': <PETsARD.Processor.Missingist.MissingistSimple at 0x152ec71f0>,
  'race': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec6fb0>,
  'edu': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec6f50>,
  'mar': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec6dd0>,
  'bmi': <PETsARD.Processor.Missingist.MissingistMean at 0x152ec6c50>,
  'dep': <PETsARD.Processor.Missingist.MissingistMean at 0x152ec6710>,
  'pir': <PETsARD.Processor.Missingist.MissingistMean at 0x152ec7550>,
  'gh': <PETsARD.Processor.Missingist.MissingistMean at 0x152ec6ad0>,
  'mets': <PETsARD.Processor.Missingist.MissingistMean at 0x152ec47c0>,
  'qm': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec6560>,
  'dia': <PETsARD.Processor.Missingist.MissingistMean at 0x152ec5270>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x152ec7220>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec6c80>,
  'dep': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec6770>,
  'pir': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec75b0>,
  'gh': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec5960>,
  'mets': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec7a60>,
  'qm': None,
  'dia': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec5570>},
 'encoder': {'gen': <PETsARD.Processor.Encoder.EncoderUniform at 0x152ec7100>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.EncoderUniform at 0x152ec6ef0>,
  'edu': <PETsARD.Processor.Encoder.EncoderUniform at 0x152ec6e00>,
  'mar': <PETsARD.Processor.Encoder.EncoderUniform at 0x152ec6da0>,
  'bmi': None,
  'dep': None,
  'pir': None,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.EncoderUniform at 0x152ec5780>,
  'dia': None},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.ScalerMinMax at 0x152ec71c0>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec6bc0>,
  'dep': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec6800>,
  'pir': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec6a40>,
  'gh': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec4700>,
  'mets': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec73a0>,
  'qm': None,
  'dia': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec65c0>}}

In [15]:
pm.fit(df)

In [16]:
df_transformed = pm.transform(df)

In [17]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,0.994790,0.700000,0.203483,0.337583,0.137943,-0.202041,-0.514504,-0.517100,0.0,0.0,0.353169,1.949241
1,0.561029,0.550000,0.172406,0.547127,0.727026,0.235906,-0.514504,1.933861,0.0,0.0,0.167041,-0.513020
2,0.839297,0.966667,0.230974,0.641945,0.056313,-0.056059,-0.514504,-0.517100,0.0,0.0,0.829747,1.949241
3,0.266801,0.600000,0.158883,0.312761,0.866482,1.929305,1.943618,-0.517100,0.0,0.0,0.950196,-0.513020
4,0.018350,0.366667,0.496361,0.084192,0.709832,-1.296911,1.943618,-0.517100,0.0,0.0,0.716876,-0.513020
...,...,...,...,...,...,...,...,...,...,...,...,...
4162,0.584401,0.083333,0.756955,0.425723,0.603639,-1.194723,-0.514504,-0.517100,0.0,0.0,0.260718,-0.513020
4163,0.040878,0.933333,0.111344,0.531993,0.942443,-1.121732,1.943618,-0.517100,0.0,0.0,0.137346,-0.513020
4164,0.018799,1.000000,0.316154,0.075576,0.910556,0.265103,-0.514504,-0.517100,0.0,0.0,0.200177,-0.513020
4165,0.545712,0.250000,0.052810,0.779254,0.500273,-0.464810,-0.514504,1.933861,0.0,0.0,0.056227,-0.513020
4166,0.326039,0.066667,0.037302,0.332188,0.623029,-1.136330,-0.514504,-0.517100,0.0,0.0,0.880410,-0.513020

In [18]:
df_inverse = pm.inverse_transform(df_transformed)

In [19]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,62.000004,White,Graduate,Married,27.799999,0.0,2.775558e-17,0.0,0.0,Q2,1.000000e+00
1,Male,53.000004,White,HighSchool,Divorced,30.799999,0.0,1.000000e+00,0.0,0.0,Q1,2.775558e-17
2,Male,78.000000,White,HighSchool,Married,28.799999,0.0,2.775558e-17,0.0,0.0,Q3,1.000000e+00
3,Female,56.000000,White,Graduate,Parther,42.400002,1.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
4,Female,42.000000,Black,College,Divorced,20.299999,1.0,2.775558e-17,0.0,0.0,Q4,2.775558e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
4162,Male,25.000000,Other,Graduate,Never,21.000000,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4163,Female,76.000000,White,HighSchool,Widowed,21.500000,1.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4164,Female,80.000000,White,College,Widowed,31.000000,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4165,Male,35.000000,White,9th,Married,26.000000,0.0,1.000000e+00,0.0,0.0,Q1,2.775558e-17
4166,Female,24.000000,White,Graduate,Never,21.400000,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17

In [20]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [21]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [22]:
df2 = loader2.data

In [23]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [24]:
m2 = PETsARD.Metadata()
m2.build_metadata(df2)

In [25]:
pm2 = PETsARD.Processor.Base.Processor(m2)

No self-defined config passed.  Generate a config automatically.

In [26]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.MissingistMean at 0x152f67a90>,
  'workclass': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec6860>,
  'fnlwgt': <PETsARD.Processor.Missingist.MissingistMean at 0x152f676a0>,
  'education': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f66ce0>,
  'educational-num': <PETsARD.Processor.Missingist.MissingistMean at 0x152f65c60>,
  'marital-status': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f676d0>,
  'occupation': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f66080>,
  'relationship': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec4ee0>,
  'race': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f65a50>,
  'gender': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f67550>,
  'capital-gain': <PETsARD.Processor.Missingist.MissingistMean at 0x152f675e0>,
  'capital-loss': <PETsARD.Processor.Missingist.MissingistMean at 0x152f65d50>,
  'hours-per-week': <PETsARD.Processor.Missingist.MissingistMean at 0x152f66f50>,
  'native-country': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f64f10>,
  'income': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f66b60>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec4e80>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f66170>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f65120>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f64280>,
  'capital-loss': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f64940>,
  'hours-per-week': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f67c70>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f67c10>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f66bf0>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f67be0>,
  'occupation': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f65a20>,
  'relationship': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f65fc0>,
  'race': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f66c50>,
  'gender': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f668c0>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f65f60>,
  'income': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f67790>},
 'scaler': {'age': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec5150>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f67fd0>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f662f0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f64af0>,
  'capital-loss': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f67eb0>,
  'hours-per-week': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f66aa0>,
  'native-country': None,
  'income': None}}

In [27]:
pm2.fit(df2)

In [28]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.MissingistMean at 0x152f67a90>,
  'workclass': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec6860>,
  'fnlwgt': <PETsARD.Processor.Missingist.MissingistMean at 0x152f676a0>,
  'education': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f66ce0>,
  'educational-num': <PETsARD.Processor.Missingist.MissingistMean at 0x152f65c60>,
  'marital-status': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f676d0>,
  'occupation': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f66080>,
  'relationship': <PETsARD.Processor.Missingist.MissingistDrop at 0x152ec4ee0>,
  'race': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f65a50>,
  'gender': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f67550>,
  'capital-gain': <PETsARD.Processor.Missingist.MissingistMean at 0x152f675e0>,
  'capital-loss': <PETsARD.Processor.Missingist.MissingistMean at 0x152f65d50>,
  'hours-per-week': <PETsARD.Processor.Missingist.MissingistMean at 0x152f66f50>,
  'native-country': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f64f10>,
  'income': <PETsARD.Processor.Missingist.MissingistDrop at 0x152f66b60>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152ec4e80>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f66170>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f65120>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f64280>,
  'capital-loss': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f64940>,
  'hours-per-week': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x152f67c70>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f67c10>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f66bf0>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f67be0>,
  'occupation': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f65a20>,
  'relationship': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f65fc0>,
  'race': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f66c50>,
  'gender': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f668c0>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f65f60>,
  'income': <PETsARD.Processor.Encoder.EncoderUniform at 0x152f67790>},
 'scaler': {'age': <PETsARD.Processor.Scaler.ScalerStandard at 0x152ec5150>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f67fd0>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f662f0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f64af0>,
  'capital-loss': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f67eb0>,
  'hours-per-week': <PETsARD.Processor.Scaler.ScalerStandard at 0x152f66aa0>,
  'native-country': None,
  'income': None}}

In [29]:
df_transformed2 = pm2.transform(df2)

In [30]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.995129,0.250163,0.351675,0.817826,-1.197259,0.676870,0.808343,0.773417,0.925712,0.216786,-0.144804,-0.217127,-0.034087,0.283653,0.283892
1,-0.046942,0.559242,-0.945524,0.314395,-0.419335,0.419946,0.909554,0.303948,0.296831,0.039664,-0.144804,-0.217127,0.772930,0.812908,0.492181
2,-0.776316,0.841251,1.394723,0.860923,0.747550,0.421490,0.989327,0.374513,0.608799,0.434270,-0.144804,-0.217127,-0.034087,0.424089,0.843226
3,-1.068066,0.366012,1.704525,0.435585,-0.030373,0.480496,0.702125,0.833321,0.177297,0.702294,-0.144804,-0.217127,-0.034087,0.770136,0.352003
4,-0.192816,0.969150,0.215911,0.707896,1.136512,0.299937,0.420679,0.132518,0.522622,0.553098,-0.144804,-0.217127,-0.034087,0.367312,0.309495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,1.047121,0.603490,1.251867,0.723778,1.525474,0.068326,0.339147,0.191864,0.143541,0.175204,-0.144804,-0.217127,-0.034087,0.118990,0.945886
26929,-1.213941,0.559759,1.140952,0.488260,-0.030373,0.488144,0.990833,0.546067,0.568860,0.003171,-0.144804,-0.217127,-0.034087,0.755114,0.400597
26930,-0.849254,0.494709,0.640492,0.859713,0.747550,0.033005,0.945944,0.948384,0.782232,0.903699,-0.144804,-0.217127,-0.195490,0.895228,0.535112
26931,0.098933,0.525452,-0.334178,0.162327,-0.419335,0.143890,0.780084,0.174032,0.546170,0.591939,-0.144804,-0.217127,-0.034087,0.840654,0.760790
26932,1.411808,0.614718,-0.357510,0.091062,-0.419335,0.971532,0.513565,0.842919,0.696403,0.908783,-0.144804,-0.217127,-0.034087,0.689082,0.689357

In [31]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [32]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,24.0,NaN,369667.0,Some-college,10.0,Never-married,NaN,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
4,36.0,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26929,22.0,Private,310152.0,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
26930,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
26931,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26932,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K

In [33]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [34]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [35]:
df_inverse2.isna().any(axis=1).mean()

0.07136226933501652

In [36]:
pm.get_changes()

     processor   col           current         default
0   missingist   age  MissingistSimple  MissingistMean
1   outlierist   gen     OutlieristLOF        NoneType
2   outlierist   age     OutlieristLOF   OutlieristIQR
3   outlierist  race     OutlieristLOF        NoneType
4   outlierist   edu     OutlieristLOF        NoneType
5   outlierist   mar     OutlieristLOF        NoneType
6   outlierist   bmi     OutlieristLOF   OutlieristIQR
7   outlierist   dep     OutlieristLOF   OutlieristIQR
8   outlierist   pir     OutlieristLOF   OutlieristIQR
9   outlierist    gh     OutlieristLOF   OutlieristIQR
10  outlierist  mets     OutlieristLOF   OutlieristIQR
11  outlierist    qm     OutlieristLOF        NoneType
12  outlierist   dia     OutlieristLOF   OutlieristIQR

In [37]:
pm._default_processor['outlierist']['categorical']

In [38]:
pm._default_processor['outlierist']['numerical']

PETsARD.Processor.Outlierist.OutlieristIQR

In [39]:
from sdv.metadata import SingleTableMetadata

In [40]:
sdvmd = SingleTableMetadata()

In [41]:
sdvmd.detect_from_dataframe(df)

In [42]:
t = sdvmd.to_dict()

In [43]:
sdvmd2 = SingleTableMetadata()

In [44]:
mm = m.to_sdv()