test cases:

1. get the expected output
2. can throw out errors (unfitted, format error, etc.)
3. produce correct (or nearly correct) amount of NAs

In [16]:
import pandas as pd
import numpy as np

In [17]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [18]:
import PETsARD

In [19]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [20]:
df = loader.data

In [21]:
m = PETsARD.Metadata()
m.build_metadata(df)

In [7]:
metadata = {'col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'numerical', 'na_percentage': 0.0},
                'pir': {'type': 'numerical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [22]:
pm = PETsARD.Processor.Base.Processor(m)

No self-defined config passed.  Generate a config automatically.

In [24]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [10]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [11]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': MissingistDrop(), 'age': MissingistSimple(5)},
            'outlierist': {'gen': None, 'age': OutlieristZScore()},
            'encoder': {'gen': EncoderLabel()},
            'scaler': {'age': ScalerLog()}}

In [25]:
config_2 = {'missingist': {'gen': MissingistDrop(), 'age': 'missingist_simple'},
            'outlierist': {'gen': None, 'age': 'outlierist_lof'},
            'encoder': {'gen': 'encoder_uniform'},
            'scaler': {'age': 'scaler_minmax'}}

In [26]:
pm.update_config(config_2)

In [49]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.MissingistDrop at 0x158a16290>,
  'age': <PETsARD.Processor.Missingist.MissingistSimple at 0x158a5f7f0>,
  'race': <PETsARD.Processor.Missingist.MissingistDrop at 0x15882b070>,
  'edu': <PETsARD.Processor.Missingist.MissingistDrop at 0x15882b400>,
  'mar': <PETsARD.Processor.Missingist.MissingistDrop at 0x15882b040>,
  'bmi': <PETsARD.Processor.Missingist.MissingistMean at 0x15882b430>,
  'dep': <PETsARD.Processor.Missingist.MissingistMean at 0x15882ad70>,
  'pir': <PETsARD.Processor.Missingist.MissingistMean at 0x15882b700>,
  'gh': <PETsARD.Processor.Missingist.MissingistMean at 0x15882ae30>,
  'mets': <PETsARD.Processor.Missingist.MissingistMean at 0x15882a740>,
  'qm': <PETsARD.Processor.Missingist.MissingistDrop at 0x15882a8c0>,
  'dia': <PETsARD.Processor.Missingist.MissingistMean at 0x1588285b0>},
 'outlierist': {'gen': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x158a15ba0>,
  'age': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x1589d0400>,
  'race': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x1589d1f30>,
  'edu': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x158a88a00>,
  'mar': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x158a89090>,
  'bmi': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x158a2cf70>,
  'dep': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x158a2cee0>,
  'pir': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x1588421a0>,
  'gh': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x158843e20>,
  'mets': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x158843fd0>,
  'qm': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x1588420b0>,
  'dia': <PETsARD.Processor.Outlierist.OutlieristLOF at 0x1588434f0>},
 'encoder': {'gen': <PETsARD.Processor.Encoder.EncoderUniform at 0x158843f10>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.EncoderUniform at 0x15882af80>,
  'edu': <PETsARD.Processor.Encoder.EncoderUniform at 0x15882b490>,
  'mar': <PETsARD.Processor.Encoder.EncoderUniform at 0x1083b3670>,
  'bmi': None,
  'dep': None,
  'pir': None,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.EncoderUniform at 0x15882a4d0>,
  'dia': None},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.ScalerMinMax at 0x158850760>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.ScalerStandard at 0x15882ab60>,
  'dep': <PETsARD.Processor.Scaler.ScalerStandard at 0x158828910>,
  'pir': <PETsARD.Processor.Scaler.ScalerStandard at 0x15882b6a0>,
  'gh': <PETsARD.Processor.Scaler.ScalerStandard at 0x15882b160>,
  'mets': <PETsARD.Processor.Scaler.ScalerStandard at 0x15882a590>,
  'qm': None,
  'dia': <PETsARD.Processor.Scaler.ScalerStandard at 0x15882b3d0>},
 'cube': {'gen': <PETsARD.Processor.Encoder.EncoderLabel at 0x15882ac80>,
  'age': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x15882acb0>,
  'race': <PETsARD.Processor.Encoder.EncoderLabel at 0x15882af20>,
  'edu': <PETsARD.Processor.Encoder.EncoderLabel at 0x15882b610>,
  'mar': <PETsARD.Processor.Encoder.EncoderLabel at 0x158850580>,
  'bmi': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x15882abf0>,
  'dep': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x1588283d0>,
  'pir': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x15882b2e0>,
  'gh': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x15882aa40>,
  'mets': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x15882b6d0>,
  'qm': <PETsARD.Processor.Encoder.EncoderLabel at 0x15882a5c0>,
  'dia': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x1588289a0>}}

In [28]:
pm.fit(df)

In [29]:
df_transformed = pm.transform(df)

In [30]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,0.508293,0.700000,0.305491,0.396346,0.335851,-0.202041,-0.514504,-0.517100,0.0,0.0,0.392381,1.949241
1,0.973016,0.550000,0.159657,0.607874,0.699344,0.235906,-0.514504,1.933861,0.0,0.0,0.144799,-0.513020
2,0.833270,0.966667,0.237446,0.742843,0.305589,-0.056059,-0.514504,-0.517100,0.0,0.0,0.997788,1.949241
3,0.235460,0.600000,0.204710,0.385527,0.873227,1.929305,1.943618,-0.517100,0.0,0.0,0.847491,-0.513020
4,0.310240,0.366667,0.381581,0.133330,0.781567,-1.296911,1.943618,-0.517100,0.0,0.0,0.707352,-0.513020
...,...,...,...,...,...,...,...,...,...,...,...,...
4162,0.994625,0.083333,0.844448,0.331901,0.690807,-1.194723,-0.514504,-0.517100,0.0,0.0,0.099267,-0.513020
4163,0.101463,0.933333,0.204471,0.638663,0.964615,-1.121732,1.943618,-0.517100,0.0,0.0,0.215959,-0.513020
4164,0.479593,1.000000,0.165518,0.058256,0.957839,0.265103,-0.514504,-0.517100,0.0,0.0,0.153525,-0.513020
4165,0.785217,0.250000,0.015692,0.844772,0.063343,-0.464810,-0.514504,1.933861,0.0,0.0,0.209479,-0.513020
4166,0.248507,0.066667,0.272615,0.418798,0.637792,-1.136330,-0.514504,-0.517100,0.0,0.0,0.797599,-0.513020

In [31]:
df_inverse = pm.inverse_transform(df_transformed)

In [32]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,62.000004,White,Graduate,Married,27.799999,0.0,2.775558e-17,0.0,0.0,Q2,1.000000e+00
1,Male,53.000004,White,HighSchool,Divorced,30.799999,0.0,1.000000e+00,0.0,0.0,Q1,2.775558e-17
2,Male,78.000000,White,HighSchool,Married,28.799999,0.0,2.775558e-17,0.0,0.0,Q3,1.000000e+00
3,Female,56.000000,White,Graduate,Parther,42.400002,1.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
4,Female,42.000000,Black,College,Divorced,20.299999,1.0,2.775558e-17,0.0,0.0,Q4,2.775558e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
4162,Male,25.000000,Other,Graduate,Never,21.000000,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4163,Female,76.000000,White,HighSchool,Widowed,21.500000,1.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4164,Female,80.000000,White,College,Widowed,31.000000,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4165,Male,35.000000,White,9th,Married,26.000000,0.0,1.000000e+00,0.0,0.0,Q1,2.775558e-17
4166,Female,24.000000,White,Graduate,Never,21.400000,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17

In [33]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [34]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [35]:
df2 = loader2.data

In [36]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [37]:
m2 = PETsARD.Metadata()
m2.build_metadata(df2)

In [38]:
pm2 = PETsARD.Processor.Base.Processor(m2)

No self-defined config passed.  Generate a config automatically.

In [39]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.MissingistMean at 0x158883610>,
  'workclass': <PETsARD.Processor.Missingist.MissingistDrop at 0x158881a80>,
  'fnlwgt': <PETsARD.Processor.Missingist.MissingistMean at 0x158882da0>,
  'education': <PETsARD.Processor.Missingist.MissingistDrop at 0x158881120>,
  'educational-num': <PETsARD.Processor.Missingist.MissingistMean at 0x158881ea0>,
  'marital-status': <PETsARD.Processor.Missingist.MissingistDrop at 0x158883d60>,
  'occupation': <PETsARD.Processor.Missingist.MissingistDrop at 0x158883df0>,
  'relationship': <PETsARD.Processor.Missingist.MissingistDrop at 0x1588820b0>,
  'race': <PETsARD.Processor.Missingist.MissingistDrop at 0x158883ac0>,
  'gender': <PETsARD.Processor.Missingist.MissingistDrop at 0x158882c80>,
  'capital-gain': <PETsARD.Processor.Missingist.MissingistMean at 0x158883070>,
  'capital-loss': <PETsARD.Processor.Missingist.MissingistMean at 0x158881c30>,
  'hours-per-week': <PETsARD.Processor.Missingist.MissingistMean at 0x158883430>,
  'native-country': <PETsARD.Processor.Missingist.MissingistDrop at 0x1588838e0>,
  'income': <PETsARD.Processor.Missingist.MissingistDrop at 0x15882ac20>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158881cf0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158883c70>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158881960>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158882bc0>,
  'capital-loss': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x1588832b0>,
  'hours-per-week': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158883490>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.EncoderUniform at 0x1588817e0>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.EncoderUniform at 0x158882e60>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883fd0>,
  'occupation': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883dc0>,
  'relationship': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883850>,
  'race': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883a90>,
  'gender': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883550>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.EncoderUniform at 0x158880ee0>,
  'income': <PETsARD.Processor.Encoder.EncoderUniform at 0x158829360>},
 'scaler': {'age': <PETsARD.Processor.Scaler.ScalerStandard at 0x1588837c0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.ScalerStandard at 0x158880cd0>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.ScalerStandard at 0x158883f40>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.ScalerStandard at 0x158882bf0>,
  'capital-loss': <PETsARD.Processor.Scaler.ScalerStandard at 0x158883340>,
  'hours-per-week': <PETsARD.Processor.Scaler.ScalerStandard at 0x158883cd0>,
  'native-country': None,
  'income': None},
 'cube': {'age': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158880eb0>,
  'workclass': <PETsARD.Processor.Encoder.EncoderLabel at 0x1588819f0>,
  'fnlwgt': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158881360>,
  'education': <PETsARD.Processor.Encoder.EncoderLabel at 0x1588820e0>,
  'educational-num': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158883f10>,
  'marital-status': <PETsARD.Processor.Encoder.EncoderLabel at 0x158882b30>,
  'occupation': <PETsARD.Processor.Encoder.EncoderLabel at 0x158883d90>,
  'relationship': <PETsARD.Processor.Encoder.EncoderLabel at 0x158881b70>,
  'race': <PETsARD.Processor.Encoder.EncoderLabel at 0x158883a30>,
  'gender': <PETsARD.Processor.Encoder.EncoderLabel at 0x158883820>,
  'capital-gain': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158882b60>,
  'capital-loss': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x1588833a0>,
  'hours-per-week': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158883970>,
  'native-country': <PETsARD.Processor.Encoder.EncoderLabel at 0x158828fd0>,
  'income': <PETsARD.Processor.Encoder.EncoderLabel at 0x15882a110>}}

In [41]:
pm2.fit(df2)

In [42]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.MissingistMean at 0x158883610>,
  'workclass': <PETsARD.Processor.Missingist.MissingistDrop at 0x158881a80>,
  'fnlwgt': <PETsARD.Processor.Missingist.MissingistMean at 0x158882da0>,
  'education': <PETsARD.Processor.Missingist.MissingistDrop at 0x158881120>,
  'educational-num': <PETsARD.Processor.Missingist.MissingistMean at 0x158881ea0>,
  'marital-status': <PETsARD.Processor.Missingist.MissingistDrop at 0x158883d60>,
  'occupation': <PETsARD.Processor.Missingist.MissingistDrop at 0x158883df0>,
  'relationship': <PETsARD.Processor.Missingist.MissingistDrop at 0x1588820b0>,
  'race': <PETsARD.Processor.Missingist.MissingistDrop at 0x158883ac0>,
  'gender': <PETsARD.Processor.Missingist.MissingistDrop at 0x158882c80>,
  'capital-gain': <PETsARD.Processor.Missingist.MissingistMean at 0x158883070>,
  'capital-loss': <PETsARD.Processor.Missingist.MissingistMean at 0x158881c30>,
  'hours-per-week': <PETsARD.Processor.Missingist.MissingistMean at 0x158883430>,
  'native-country': <PETsARD.Processor.Missingist.MissingistDrop at 0x1588838e0>,
  'income': <PETsARD.Processor.Missingist.MissingistDrop at 0x15882ac20>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158881cf0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158883c70>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158881960>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158882bc0>,
  'capital-loss': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x1588832b0>,
  'hours-per-week': <PETsARD.Processor.Outlierist.OutlieristIQR at 0x158883490>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.EncoderUniform at 0x1588817e0>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.EncoderUniform at 0x158882e60>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883fd0>,
  'occupation': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883dc0>,
  'relationship': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883850>,
  'race': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883a90>,
  'gender': <PETsARD.Processor.Encoder.EncoderUniform at 0x158883550>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.EncoderUniform at 0x158880ee0>,
  'income': <PETsARD.Processor.Encoder.EncoderUniform at 0x158829360>},
 'scaler': {'age': <PETsARD.Processor.Scaler.ScalerStandard at 0x1588837c0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.ScalerStandard at 0x158880cd0>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.ScalerStandard at 0x158883f40>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.ScalerStandard at 0x158882bf0>,
  'capital-loss': <PETsARD.Processor.Scaler.ScalerStandard at 0x158883340>,
  'hours-per-week': <PETsARD.Processor.Scaler.ScalerStandard at 0x158883cd0>,
  'native-country': None,
  'income': None},
 'cube': {'age': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158880eb0>,
  'workclass': <PETsARD.Processor.Encoder.EncoderLabel at 0x1588819f0>,
  'fnlwgt': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158881360>,
  'education': <PETsARD.Processor.Encoder.EncoderLabel at 0x1588820e0>,
  'educational-num': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158883f10>,
  'marital-status': <PETsARD.Processor.Encoder.EncoderLabel at 0x158882b30>,
  'occupation': <PETsARD.Processor.Encoder.EncoderLabel at 0x158883d90>,
  'relationship': <PETsARD.Processor.Encoder.EncoderLabel at 0x158881b70>,
  'race': <PETsARD.Processor.Encoder.EncoderLabel at 0x158883a30>,
  'gender': <PETsARD.Processor.Encoder.EncoderLabel at 0x158883820>,
  'capital-gain': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158882b60>,
  'capital-loss': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x1588833a0>,
  'hours-per-week': <PETsARD.Processor.discretizing.DiscretizerKBins at 0x158883970>,
  'native-country': <PETsARD.Processor.Encoder.EncoderLabel at 0x158828fd0>,
  'income': <PETsARD.Processor.Encoder.EncoderLabel at 0x15882a110>}}

In [43]:
df_transformed2 = pm2.transform(df2)

In [44]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.995129,0.717105,0.351675,0.840163,-1.197259,0.649447,0.783979,0.666792,0.909060,0.652610,-0.144804,-0.217127,-0.034087,0.890940,0.368913
1,-0.046942,0.550642,-0.945524,0.192651,-0.419335,0.360004,0.927472,0.029663,0.515676,0.586440,-0.144804,-0.217127,0.772930,0.064510,0.009819
2,-0.776316,0.861351,1.394723,0.845673,0.747550,0.179096,0.989185,0.340616,0.088453,0.448317,-0.144804,-0.217127,-0.034087,0.530546,0.961960
3,-1.068066,0.200089,1.704525,0.412934,-0.030373,0.461537,0.694402,0.912280,0.564191,0.994140,-0.144804,-0.217127,-0.034087,0.532657,0.114937
4,-0.192816,0.991676,0.215911,0.700824,1.136512,0.236346,0.519360,0.278883,0.638965,0.354609,-0.144804,-0.217127,-0.034087,0.021835,0.494998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,1.047121,0.631737,1.251867,0.722798,1.525474,0.251281,0.337508,0.114353,0.816715,0.200556,-0.144804,-0.217127,-0.034087,0.647774,0.863249
26929,-1.213941,0.483344,1.140952,0.507165,-0.030373,0.497187,0.979565,0.443703,0.554881,0.353515,-0.144804,-0.217127,-0.034087,0.042031,0.142038
26930,-0.849254,0.366108,0.640492,0.852675,0.747550,0.155380,0.948181,0.944311,0.053651,0.844232,-0.144804,-0.217127,-0.195490,0.093103,0.672413
26931,0.098933,0.236268,-0.334178,0.248922,-0.419335,0.217310,0.764895,0.209504,0.583231,0.100081,-0.144804,-0.217127,-0.034087,0.797011,0.815598
26932,1.411808,0.159085,-0.357510,0.059552,-0.419335,0.966606,0.484564,0.888166,0.846697,0.812174,-0.144804,-0.217127,-0.034087,0.089656,0.275712

In [45]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [46]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,24.0,Private,369667.0,Some-college,10.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
4,36.0,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26929,22.0,Private,310152.0,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
26930,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
26931,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26932,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K

In [47]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [48]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [35]:
df_inverse2.isna().any(axis=1).mean()

0.07136226933501652

In [36]:
pm.get_changes()

     processor   col           current         default
0   missingist   age  MissingistSimple  MissingistMean
1   outlierist   gen     OutlieristLOF        NoneType
2   outlierist   age     OutlieristLOF   OutlieristIQR
3   outlierist  race     OutlieristLOF        NoneType
4   outlierist   edu     OutlieristLOF        NoneType
5   outlierist   mar     OutlieristLOF        NoneType
6   outlierist   bmi     OutlieristLOF   OutlieristIQR
7   outlierist   dep     OutlieristLOF   OutlieristIQR
8   outlierist   pir     OutlieristLOF   OutlieristIQR
9   outlierist    gh     OutlieristLOF   OutlieristIQR
10  outlierist  mets     OutlieristLOF   OutlieristIQR
11  outlierist    qm     OutlieristLOF        NoneType
12  outlierist   dia     OutlieristLOF   OutlieristIQR

In [37]:
pm._default_processor['outlierist']['categorical']

In [38]:
pm._default_processor['outlierist']['numerical']

PETsARD.Processor.Outlierist.OutlieristIQR

In [39]:
from sdv.metadata import SingleTableMetadata

In [40]:
sdvmd = SingleTableMetadata()

In [41]:
sdvmd.detect_from_dataframe(df)

In [42]:
t = sdvmd.to_dict()

In [43]:
sdvmd2 = SingleTableMetadata()

In [44]:
mm = m.to_sdv()