In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'categorical', 'na_percentage': 0.0},
                'pir': {'type': 'categorical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [7]:
md1 = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [8]:
pm = PETsARD.HyperProcessor(metadata)

In [9]:
from PETsARD.Processor.Missingist import Missingist_Mean

In [10]:
config_1 = {'missingist': {'gen': Missingist_Mean(),
  'age': Missingist_Mean()},
 'outlierist': {'gen': None,
  'age': None},
 'encoder': {'gen': None,
  'age': None},
 'scaler': {'gen': None,
  'age': None}}

In [11]:
pm.fit(df)

Mediator_Missingist is created.
Mediator_Outlierist is created.

In [12]:
df_transformed = pm.transform(df)

In [13]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,0.912053,0.645459,0.076410,0.329113,0.265620,-0.202041,0.422163,0.594232,0.0,0.0,0.319507,0.886067
1,0.548492,0.142249,0.024329,0.748448,0.798778,0.235906,0.423794,0.983646,0.0,0.0,0.144386,0.178562
2,0.744303,1.540055,0.242693,0.581583,0.157349,-0.056059,0.168300,0.374210,0.0,0.0,0.915231,0.932183
3,0.249243,0.309986,0.276974,0.451440,0.843234,1.929305,0.841294,0.756661,0.0,0.0,0.883003,0.304418
4,0.015711,-0.472785,0.380110,0.218186,0.761115,-1.296911,0.936336,0.080470,0.0,0.0,0.621935,0.669081
...,...,...,...,...,...,...,...,...,...,...,...,...
4061,0.949432,-1.423293,0.757488,0.348683,0.571865,-1.194723,0.023610,0.064722,0.0,0.0,0.264830,0.705861
4062,0.356948,1.428230,0.279976,0.650144,0.915305,-1.121732,0.938931,0.455332,0.0,0.0,0.024138,0.778111
4063,0.356456,1.651879,0.041847,0.194498,0.932829,0.265103,0.709772,0.526647,0.0,0.0,0.230615,0.069761
4064,0.525446,-0.864171,0.240495,0.771472,0.168953,-0.464810,0.092617,0.864522,0.0,0.0,0.192681,0.070029
4065,0.322600,-1.479205,0.199236,0.295650,0.632957,-1.136330,0.712868,0.073280,0.0,0.0,0.947584,0.130927

In [14]:
df

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,62.0,White,Graduate,Married,27.799999,0,0,0.0,0.0,Q2,1
1,Male,53.0,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
2,Male,78.0,White,HighSchool,Married,28.799999,0,0,0.0,0.0,Q3,1
3,Female,56.0,White,Graduate,Parther,42.400002,1,0,0.0,0.0,Q3,0
4,Female,42.0,Black,College,Divorced,20.299999,1,0,0.0,0.0,Q4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4185,Male,25.0,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
4186,Female,76.0,White,HighSchool,Widowed,21.500000,1,0,0.0,0.0,Q1,0
4187,Female,80.0,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
4188,Male,35.0,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0
4189,Female,24.0,White,Graduate,Never,21.400000,0,0,0.0,0.0,Q3,0