In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'categorical', 'na_percentage': 0.0},
                'pir': {'type': 'categorical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [7]:
pm = PETsARD.HyperProcessor(metadata)

In [8]:
from PETsARD.Processor.Missingist import Missingist_Mean, Missingist_Drop
from PETsARD.Processor.Outlierist import Outlierist_IsolationForest

In [9]:
config_1 = {'missingist': {'gen': Missingist_Drop(),
  'age': Missingist_Mean()},
 'outlierist': {'gen': Outlierist_IsolationForest(),
  'age': None}}

In [10]:
pm.update_config(config_1)

In [11]:
pm._config

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fd0a770>,
  'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fbbaec0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fbbad10>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fbbb7c0>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fbbaf80>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x11ecbc970>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fbbb070>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fbbb0a0>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fbba860>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fd097b0>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fd09810>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fd0b100>},
 'outlierist': {'gen': <PETsARD.Processor.Outlierist.Outlierist_IsolationForest at 0x14fbba8f0>,
  'age': None,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x105ec20b0>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14fd086a0>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x13e89d360>,
  'qm': None,
  'dia': None},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fbbae60>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fbba9b0>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fbbb4c0>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x11ecbc8e0>,
  'bmi': None,
  'dep': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fbbb0d0>,
  'pir': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fbba320>,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fd0b160>,
  'dia': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fd0b1f0>},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fbbb1f0>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fbbac20>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fd09780>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x105e96830>,
  'qm': None,
  'dia': None}}

In [12]:
pm.fit(df, ['missingist', 'encoder', 'scaler', 'outlierist'])

In [13]:
df

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,62.0,White,Graduate,Married,27.799999,0,0,0.0,0.0,Q2,1
1,Male,53.0,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
2,Male,78.0,White,HighSchool,Married,28.799999,0,0,0.0,0.0,Q3,1
3,Female,56.0,White,Graduate,Parther,42.400002,1,0,0.0,0.0,Q3,0
4,Female,42.0,Black,College,Divorced,20.299999,1,0,0.0,0.0,Q4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4185,Male,25.0,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
4186,Female,76.0,White,HighSchool,Widowed,21.500000,1,0,0.0,0.0,Q1,0
4187,Female,80.0,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
4188,Male,35.0,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0
4189,Female,24.0,White,Graduate,Never,21.400000,0,0,0.0,0.0,Q3,0

In [14]:
df_transformed = pm.transform(df)

In [15]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,0.872571,0.142249,0.214897,0.636177,0.742746,0.235906,0.545610,0.858989,0.0,0.0,0.242677,0.394948
1,0.300247,1.204581,0.572308,0.990584,0.969781,-0.085255,0.277654,0.540049,0.0,0.0,0.250790,0.395249
2,0.688759,0.309986,0.373015,0.582198,0.773773,0.644658,0.339726,0.482162,0.0,0.0,0.850053,0.953436
3,0.581475,-0.249136,0.120063,0.421441,0.845226,-0.231238,0.661494,0.179360,0.0,0.0,0.901471,0.618846
4,0.900065,-0.305049,0.808922,0.969931,0.685793,-0.742177,0.414524,0.741689,0.0,0.0,0.833700,0.646959
...,...,...,...,...,...,...,...,...,...,...,...,...
2095,0.742156,0.142249,0.661150,0.893703,0.113161,0.411086,0.436419,0.886049,0.0,0.0,0.534557,0.851911
2096,0.365204,1.036845,0.598182,0.793905,0.044665,-0.158247,0.364742,0.907343,0.0,0.0,0.117459,0.838824
2097,0.649881,-1.423293,0.727675,0.405782,0.535191,-1.194723,0.237909,0.702057,0.0,0.0,0.191649,0.309812
2098,0.166545,1.651879,0.041220,0.159452,0.951702,0.265103,0.409267,0.662819,0.0,0.0,0.068505,0.446618
2099,0.528946,-0.864171,0.161883,0.792967,0.441599,-0.464810,0.291588,0.858937,0.0,0.0,0.067486,0.502119

In [16]:
df_inverse = pm.inverse_transform(df_transformed)

In [17]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,53.0,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
1,Female,72.0,Mexican,11th,Separated,28.600000,0,0,0.0,0.0,Q1,0
2,Male,56.0,Black,HighSchool,Divorced,33.599998,0,0,0.0,0.0,Q3,1
3,Male,46.0,White,Graduate,Parther,27.600000,0,0,0.0,0.0,Q3,0
4,Male,45.0,Other,11th,Never,24.100000,0,0,0.0,0.0,Q3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2095,Male,53.0,Mexican,11th,Married,32.000000,0,1,0.0,0.0,Q4,1
2096,Female,69.0,Mexican,9th,Married,28.100000,0,1,0.0,0.0,Q1,1
2097,Male,25.0,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
2098,Female,80.0,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
2099,Male,35.0,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0

In [18]:
(df_inverse == df).all()

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects

In [ ]:
np.isclose(df_inverse.age, df.age).all()

True

In [ ]:
np.isclose(df_inverse.bmi, df.bmi).all()

True