test cases:

1. get the expected output
2. can throw out errors (unfitted, format error, etc.)
3. produce correct (or nearly correct) amount of NAs

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
m = PETsARD.Metadata()
m.build_metadata(df)

In [7]:
metadata = {'col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'numerical', 'na_percentage': 0.0},
                'pir': {'type': 'numerical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [9]:
pm = PETsARD.Processor(m)

No self-defined config passed.  Generate a config automatically.

In [10]:
from PETsARD.processor.missing import *
from PETsARD.processor.outlier import *
from PETsARD.processor.encoder import *
from PETsARD.processor.scaler import *

In [11]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [15]:
config_2 = {'missing': {'gen': MissingDrop(), 'age': 'missing_simple'},
            'outlier': {'gen': None, 'age': 'outlier_lof'},
            'encoder': {'gen': 'encoder_onehot', 'race': 'encoder_onehot'},
            'scaler': {'age': 'scaler_minmax'}}

In [16]:
pm.update_config(config_2)

In [17]:
pm.get_config()

{'missing': {'gen': <PETsARD.processor.missing.MissingDrop at 0x2836c2c80>,
  'age': <PETsARD.processor.missing.MissingSimple at 0x103a4fee0>,
  'race': <PETsARD.processor.missing.MissingDrop at 0x2818efc70>,
  'edu': <PETsARD.processor.missing.MissingDrop at 0x2818efdf0>,
  'mar': <PETsARD.processor.missing.MissingDrop at 0x283569660>,
  'bmi': <PETsARD.processor.missing.MissingMean at 0x2835691b0>,
  'dep': <PETsARD.processor.missing.MissingMean at 0x283557ee0>,
  'pir': <PETsARD.processor.missing.MissingMean at 0x2835446a0>,
  'gh': <PETsARD.processor.missing.MissingMean at 0x2835458a0>,
  'mets': <PETsARD.processor.missing.MissingMean at 0x28332ba90>,
  'qm': <PETsARD.processor.missing.MissingDrop at 0x28352a8f0>,
  'dia': <PETsARD.processor.missing.MissingMean at 0x28352a590>},
 'outlier': {'gen': None,
  'age': <PETsARD.processor.outlier.OutlierLOF at 0x2818ef010>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.processor.outlier.OutlierIQR at 0x2835571c0>,
  'dep': <PETsARD.processor.outlier.OutlierIQR at 0x2835572b0>,
  'pir': <PETsARD.processor.outlier.OutlierIQR at 0x283547790>,
  'gh': <PETsARD.processor.outlier.OutlierIQR at 0x2835471c0>,
  'mets': <PETsARD.processor.outlier.OutlierIQR at 0x28332b490>,
  'qm': None,
  'dia': <PETsARD.processor.outlier.OutlierIQR at 0x28352b250>},
 'encoder': {'gen': <PETsARD.processor.encoder.EncoderOneHot at 0x2818eee30>,
  'age': None,
  'race': <PETsARD.processor.encoder.EncoderOneHot at 0x2818abf70>,
  'edu': <PETsARD.processor.encoder.EncoderUniform at 0x2818efd60>,
  'mar': <PETsARD.processor.encoder.EncoderUniform at 0x283568640>,
  'bmi': None,
  'dep': None,
  'pir': None,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.processor.encoder.EncoderUniform at 0x28352bd00>,
  'dia': None},
 'scaler': {'gen': None,
  'age': <PETsARD.processor.scaler.ScalerMinMax at 0x28332c640>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.processor.scaler.ScalerStandard at 0x283557070>,
  'dep': <PETsARD.processor.scaler.ScalerStandard at 0x2835561d0>,
  'pir': <PETsARD.processor.scaler.ScalerStandard at 0x283544550>,
  'gh': <PETsARD.processor.scaler.ScalerStandard at 0x283545bd0>,
  'mets': <PETsARD.processor.scaler.ScalerStandard at 0x28332b220>,
  'qm': None,
  'dia': <PETsARD.processor.scaler.ScalerStandard at 0x2835295a0>},
 'cube': {'gen': <PETsARD.processor.encoder.EncoderLabel at 0x28332c610>,
  'age': <PETsARD.processor.discretizing.DiscretizingKBins at 0x2818efac0>,
  'race': <PETsARD.processor.encoder.EncoderLabel at 0x103a4fca0>,
  'edu': <PETsARD.processor.encoder.EncoderLabel at 0x2818ee020>,
  'mar': <PETsARD.processor.encoder.EncoderLabel at 0x2835683a0>,
  'bmi': <PETsARD.processor.discretizing.DiscretizingKBins at 0x2835579a0>,
  'dep': <PETsARD.processor.discretizing.DiscretizingKBins at 0x283554f70>,
  'pir': <PETsARD.processor.discretizing.DiscretizingKBins at 0x283546f20>,
  'gh': <PETsARD.processor.discretizing.DiscretizingKBins at 0x28332b100>,
  'mets': <PETsARD.processor.discretizing.DiscretizingKBins at 0x28352bb50>,
  'qm': <PETsARD.processor.encoder.EncoderLabel at 0x28352ab00>,
  'dia': <PETsARD.processor.discretizing.DiscretizingKBins at 0x283528dc0>}}

In [24]:
pm.fit(df)

In [19]:
df_transformed = pm.transform(df)

In [20]:
df_transformed

,age,edu,mar,bmi,dep,pir,gh,mets,qm,dia,gen_Female,gen_Male,race_Black,race_Hispanic,race_Mexican,race_Other,race_White
0,0.700000,0.496454,0.093282,-0.202041,-0.514504,-0.517100,0.0,0.0,0.478063,1.949241,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.550000,0.676800,0.752334,0.235906,-0.514504,1.933861,0.0,0.0,0.257430,-0.513020,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.966667,0.705090,0.509906,-0.056059,-0.514504,-0.517100,0.0,0.0,0.846147,1.949241,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.600000,0.500404,0.814259,1.929305,1.943618,-0.517100,0.0,0.0,0.997514,-0.513020,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.366667,0.289565,0.799437,-1.296911,1.943618,-0.517100,0.0,0.0,0.574032,-0.513020,1.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4162,0.083333,0.513781,0.683208,-1.194723,-0.514504,-0.517100,0.0,0.0,0.023150,-0.513020,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4163,0.933333,0.692775,0.935470,-1.121732,1.943618,-0.517100,0.0,0.0,0.272490,-0.513020,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4164,1.000000,0.000814,0.901235,0.265103,-0.514504,-0.517100,0.0,0.0,0.251240,-0.513020,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4165,0.250000,0.822154,0.138770,-0.464810,-0.514504,1.933861,0.0,0.0,0.213674,-0.513020,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4166,0.066667,0.513559,0.520248,-1.136330,-0.514504,-0.517100,0.0,0.0,0.820113,-0.513020,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [21]:
df_inverse = pm.inverse_transform(df_transformed)

In [22]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,62.000004,White,Graduate,Married,27.799999,0.0,2.775558e-17,0.0,0.0,Q2,1.000000e+00
1,Male,53.000004,White,HighSchool,Divorced,30.799999,0.0,1.000000e+00,0.0,0.0,Q1,2.775558e-17
2,Male,78.000000,White,HighSchool,Married,28.799999,0.0,2.775558e-17,0.0,0.0,Q3,1.000000e+00
3,Female,56.000000,White,Graduate,Parther,42.400002,1.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
4,Female,42.000000,Black,College,Divorced,20.299999,1.0,2.775558e-17,0.0,0.0,Q4,2.775558e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
4162,Male,25.000000,Other,Graduate,Never,21.000000,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4163,Female,76.000000,White,HighSchool,Widowed,21.500000,1.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4164,Female,80.000000,White,College,Widowed,31.000000,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
4165,Male,35.000000,White,9th,Married,26.000000,0.0,1.000000e+00,0.0,0.0,Q1,2.775558e-17
4166,Female,24.000000,White,Graduate,Never,21.400000,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17

In [20]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [25]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [26]:
df2 = loader2.data

In [27]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [28]:
m2 = PETsARD.Metadata()
m2.build_metadata(df2)

In [29]:
pm2 = PETsARD.Processor(m2)

No self-defined config passed.  Generate a config automatically.

In [30]:
pm2.get_config()

{'missing': {'age': <PETsARD.processor.missing.MissingMean at 0x281909810>,
  'workclass': <PETsARD.processor.missing.MissingDrop at 0x283332cb0>,
  'fnlwgt': <PETsARD.processor.missing.MissingMean at 0x283330340>,
  'education': <PETsARD.processor.missing.MissingDrop at 0x283332320>,
  'educational-num': <PETsARD.processor.missing.MissingMean at 0x28190bee0>,
  'marital-status': <PETsARD.processor.missing.MissingDrop at 0x12fd46470>,
  'occupation': <PETsARD.processor.missing.MissingDrop at 0x283332da0>,
  'relationship': <PETsARD.processor.missing.MissingDrop at 0x283333670>,
  'race': <PETsARD.processor.missing.MissingDrop at 0x2833318d0>,
  'gender': <PETsARD.processor.missing.MissingDrop at 0x283331240>,
  'capital-gain': <PETsARD.processor.missing.MissingMean at 0x283332e90>,
  'capital-loss': <PETsARD.processor.missing.MissingMean at 0x283330dc0>,
  'hours-per-week': <PETsARD.processor.missing.MissingMean at 0x283333130>,
  'native-country': <PETsARD.processor.missing.MissingDrop at 0x283331e10>,
  'income': <PETsARD.processor.missing.MissingDrop at 0x283333ac0>},
 'outlier': {'age': <PETsARD.processor.outlier.OutlierIQR at 0x283517700>,
  'workclass': None,
  'fnlwgt': <PETsARD.processor.outlier.OutlierIQR at 0x2833300d0>,
  'education': None,
  'educational-num': <PETsARD.processor.outlier.OutlierIQR at 0x28190b8e0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.processor.outlier.OutlierIQR at 0x2833331f0>,
  'capital-loss': <PETsARD.processor.outlier.OutlierIQR at 0x283332440>,
  'hours-per-week': <PETsARD.processor.outlier.OutlierIQR at 0x283332f50>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.processor.encoder.EncoderUniform at 0x283333640>,
  'fnlwgt': None,
  'education': <PETsARD.processor.encoder.EncoderUniform at 0x2835155a0>,
  'educational-num': None,
  'marital-status': <PETsARD.processor.encoder.EncoderUniform at 0x283333bb0>,
  'occupation': <PETsARD.processor.encoder.EncoderUniform at 0x283330ac0>,
  'relationship': <PETsARD.processor.encoder.EncoderUniform at 0x2833336a0>,
  'race': <PETsARD.processor.encoder.EncoderUniform at 0x283333070>,
  'gender': <PETsARD.processor.encoder.EncoderUniform at 0x283332d70>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.processor.encoder.EncoderUniform at 0x2833332e0>,
  'income': <PETsARD.processor.encoder.EncoderUniform at 0x283333b20>},
 'scaler': {'age': <PETsARD.processor.scaler.ScalerStandard at 0x283517490>,
  'workclass': None,
  'fnlwgt': <PETsARD.processor.scaler.ScalerStandard at 0x283331d20>,
  'education': None,
  'educational-num': <PETsARD.processor.scaler.ScalerStandard at 0x28190af20>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.processor.scaler.ScalerStandard at 0x283331150>,
  'capital-loss': <PETsARD.processor.scaler.ScalerStandard at 0x283333520>,
  'hours-per-week': <PETsARD.processor.scaler.ScalerStandard at 0x2833337f0>,
  'native-country': None,
  'income': None},
 'cube': {'age': <PETsARD.processor.discretizing.DiscretizingKBins at 0x283517eb0>,
  'workclass': <PETsARD.processor.encoder.EncoderLabel at 0x283333c10>,
  'fnlwgt': <PETsARD.processor.discretizing.DiscretizingKBins at 0x2833308e0>,
  'education': <PETsARD.processor.encoder.EncoderLabel at 0x28190ad40>,
  'educational-num': <PETsARD.processor.discretizing.DiscretizingKBins at 0x281909ea0>,
  'marital-status': <PETsARD.processor.encoder.EncoderLabel at 0x2833307f0>,
  'occupation': <PETsARD.processor.encoder.EncoderLabel at 0x283333190>,
  'relationship': <PETsARD.processor.encoder.EncoderLabel at 0x2833319c0>,
  'race': <PETsARD.processor.encoder.EncoderLabel at 0x283333a00>,
  'gender': <PETsARD.processor.encoder.EncoderLabel at 0x283333f10>,
  'capital-gain': <PETsARD.processor.discretizing.DiscretizingKBins at 0x283333d90>,
  'capital-loss': <PETsARD.processor.discretizing.DiscretizingKBins at 0x283332140>,
  'hours-per-week': <PETsARD.processor.discretizing.DiscretizingKBins at 0x2833337c0>,
  'native-country': <PETsARD.processor.encoder.EncoderLabel at 0x283333430>,
  'income': <PETsARD.processor.encoder.EncoderLabel at 0x283333970>}}

In [31]:
pm2.fit(df2, sequence=['missing', 'cube'])

In [33]:
df_transformed2 = pm2.transform(df2)

In [34]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,0.0,3,0.0,1,2.0,4,6,3,2,1,0.0,0.0,1.0,38,0
1,1.0,3,0.0,11,2.0,2,4,0,4,1,0.0,0.0,2.0,38,0
2,0.0,1,1.0,7,3.0,2,10,0,4,1,0.0,0.0,1.0,38,1
3,1.0,3,0.0,15,3.0,2,6,0,2,1,0.0,0.0,1.0,38,1
4,1.0,3,0.0,0,1.0,4,7,1,4,1,0.0,0.0,1.0,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,0.0,3,0.0,7,3.0,2,12,5,4,0,0.0,0.0,1.0,38,0
45218,1.0,3,0.0,11,2.0,2,6,0,4,1,0.0,0.0,1.0,38,1
45219,2.0,3,0.0,11,2.0,6,0,4,4,0,0.0,0.0,1.0,38,0
45220,0.0,3,0.0,11,2.0,4,0,3,4,1,0.0,0.0,0.0,38,0
45221,2.0,4,0.0,11,2.0,2,3,5,4,0,0.0,0.0,1.0,38,1

In [35]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [36]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,24.3,Private,160096.5,11th,8.5,Never-married,Machine-op-inspct,Own-child,Black,Male,9999.9,435.6,30.4,United-States,<=50K
1,38.9,Private,160096.5,HS-grad,8.5,Married-civ-spouse,Farming-fishing,Husband,White,Male,9999.9,435.6,50.0,United-States,<=50K
2,24.3,Local-gov,455719.5,Assoc-acdm,11.5,Married-civ-spouse,Protective-serv,Husband,White,Male,9999.9,435.6,30.4,United-States,>50K
3,38.9,Private,160096.5,Some-college,11.5,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,9999.9,435.6,30.4,United-States,>50K
4,38.9,Private,160096.5,10th,5.5,Never-married,Other-service,Not-in-family,White,Male,9999.9,435.6,30.4,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,24.3,Private,160096.5,Assoc-acdm,11.5,Married-civ-spouse,Tech-support,Wife,White,Female,9999.9,435.6,30.4,United-States,<=50K
45218,38.9,Private,160096.5,HS-grad,8.5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,9999.9,435.6,30.4,United-States,>50K
45219,53.5,Private,160096.5,HS-grad,8.5,Widowed,Adm-clerical,Unmarried,White,Female,9999.9,435.6,30.4,United-States,<=50K
45220,24.3,Private,160096.5,HS-grad,8.5,Never-married,Adm-clerical,Own-child,White,Male,9999.9,435.6,10.8,United-States,<=50K
45221,53.5,Self-emp-inc,160096.5,HS-grad,8.5,Married-civ-spouse,Exec-managerial,Wife,White,Female,9999.9,435.6,30.4,United-States,>50K

In [33]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [34]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [35]:
df_inverse2.isna().any(axis=1).mean()

0.07125088181784428

In [36]:
pm.get_changes()

     processor   col           current         default
0   missingist   age  MissingistSimple  MissingistMean
1   outlierist   gen     OutlieristLOF        NoneType
2   outlierist   age     OutlieristLOF   OutlieristIQR
3   outlierist  race     OutlieristLOF        NoneType
4   outlierist   edu     OutlieristLOF        NoneType
5   outlierist   mar     OutlieristLOF        NoneType
6   outlierist   bmi     OutlieristLOF   OutlieristIQR
7   outlierist   dep     OutlieristLOF   OutlieristIQR
8   outlierist   pir     OutlieristLOF   OutlieristIQR
9   outlierist    gh     OutlieristLOF   OutlieristIQR
10  outlierist  mets     OutlieristLOF   OutlieristIQR
11  outlierist    qm     OutlieristLOF        NoneType
12  outlierist   dia     OutlieristLOF   OutlieristIQR

In [37]:
pm._default_processor['outlierist']['categorical']

In [38]:
pm._default_processor['outlierist']['numerical']

PETsARD.Processor.Outlierist.OutlieristIQR

In [39]:
from sdv.metadata import SingleTableMetadata

In [40]:
sdvmd = SingleTableMetadata()

In [41]:
sdvmd.detect_from_dataframe(df)

In [42]:
t = sdvmd.to_dict()

In [43]:
sdvmd2 = SingleTableMetadata()

In [44]:
mm = m.to_sdv()

In [38]:
from PETsARD.synthesizer import Synthesizer

In [44]:
syn = Synthesizer(df_transformed2[['age', 'workclass', 'marital-status']], synthesizing_method='smartnoise-mwem')

In [45]:
syn.fit()

Synthesizer (SmartNoise): Fitting mwem.
Synthesizer (SmartNoise): Fitting  mwem spent 14.1997 sec.

In [47]:
syn.sample()

Synthesizer (SmartNoise): Sampling mwem # 45222 rows (same as raw) in 0.7618 sec.

In [48]:
syn.data_syn

       age  workclass  marital-status
0        2          0               4
1        2          3               6
2        0          3               4
3        1          3               2
4        1          3               2
...    ...        ...             ...
45217    0          3               4
45218    1          3               2
45219    1          3               2
45220    1          3               2
45221    2          5               2

[45222 rows x 3 columns]