test cases:

1. get the expected output
2. can throw out errors (unfitted, format error, etc.)
3. produce correct (or nearly correct) amount of NAs

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
m = PETsARD.Metadata()
m.build_metadata(df)

In [7]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'numerical', 'na_percentage': 0.0},
                'pir': {'type': 'numerical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [8]:
pm = PETsARD.Processor.Base.Processor(m)

In [9]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [10]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [11]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': Missingist_Drop(), 'age': Missingist_Simple(5)},
            'outlierist': {'gen': None, 'age': Outlierist_ZScore()},
            'encoder': {'gen': Encoder_Label()},
            'scaler': {'age': Scaler_Log()}}

In [107]:
config_2 = {'missingist': {'gen': Missingist_Drop(), 'age': 'missingist_simple'},
            'outlierist': {'gen': None, 'age': 'outlierist_lof'},
            'encoder': {'gen': 'encoder_uniform'},
            'scaler': {'age': 'scaler_minmax'}}

In [108]:
pm.update_config(config_2)

In [109]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14715dcc0>,
  'age': <PETsARD.Processor.Missingist.Missingist_Simple at 0x14715f9d0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x146f930d0>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x146fd9ba0>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x146fd9c60>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x146fd9d80>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Mean at 0x146fd9f60>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Mean at 0x146fdb700>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x146fdb5e0>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x146fdb3a0>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x146fdb2e0>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Mean at 0x146fdb220>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x14715c670>,
  'race': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x1470fee60>,
  'edu': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x1470ffaf0>,
  'mar': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x1470ffeb0>,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x146fd94e0>,
  'dep': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x146fdac20>,
  'pir': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x14715e860>,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x14715cbe0>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x14715ca00>,
  'qm': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x14715f4c0>,
  'dia': <PETsARD.Processor.Outlierist.Outlierist_LOF at 0x14715c400>},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14715c1f0>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x146f93220>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x146fd9b10>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x146fd9c30>,
  'bmi': None,
  'dep': None,
  'pir': None,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x146fdb1c0>,
  'dia': None},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_MinMax at 0x14715d300>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x146fd9e10>,
  'dep': <PETsARD.Processor.Scaler.Scaler_Standard at 0x146fdb730>,
  'pir': <PETsARD.Processor.Scaler.Scaler_Standard at 0x146fdb610>,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x146fdb4f0>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x146fdb2b0>,
  'qm': None,
  'dia': <PETsARD.Processor.Scaler.Scaler_Standard at 0x146fdb070>}}

In [98]:
pm.fit(df)

In [99]:
df_transformed = pm.transform(df)

In [100]:
df_inverse = pm.inverse_transform(df_transformed)

In [59]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Female,72.000000,Mexican,11th,Separated,28.6,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
1,Male,46.000000,White,Graduate,Parther,27.6,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2,Male,45.000004,Other,11th,Never,24.1,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
3,Female,30.000002,Hispanic,College,Parther,26.6,0.0,2.775558e-17,0.0,0.0,Q4,2.775558e-17
4,Female,27.000002,Black,College,Never,38.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
2144,Female,41.000000,Other,Graduate,Married,20.9,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2145,Male,34.000000,Black,Graduate,Married,30.9,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2146,Male,25.000002,Other,Graduate,Never,21.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2147,Female,80.000000,White,College,Widowed,31.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2148,Female,24.000000,White,Graduate,Never,21.4,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17

In [19]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [20]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [21]:
df2 = loader2.data

In [22]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [23]:
m2 = PETsARD.Metadata()
m2.build_metadata(df2)

In [24]:
pm2 = PETsARD.Processor.Base.Processor(m2)

In [25]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1470765f0>,
  'workclass': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147076da0>,
  'fnlwgt': <PETsARD.Processor.Missingist.Missingist_Mean at 0x147076b00>,
  'education': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147077430>,
  'educational-num': <PETsARD.Processor.Missingist.Missingist_Mean at 0x147075c90>,
  'marital-status': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147076080>,
  'occupation': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147077d00>,
  'relationship': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147075570>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147075c00>,
  'gender': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147076c20>,
  'capital-gain': <PETsARD.Processor.Missingist.Missingist_Mean at 0x147074670>,
  'capital-loss': <PETsARD.Processor.Missingist.Missingist_Mean at 0x147076a40>,
  'hours-per-week': <PETsARD.Processor.Missingist.Missingist_Mean at 0x147076290>,
  'native-country': <PETsARD.Processor.Missingist.Missingist_Drop at 0x147077190>,
  'income': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1470771f0>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x147077ac0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x147077610>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1470761a0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x147075c60>,
  'capital-loss': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x147077070>,
  'hours-per-week': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x147076230>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x147077d90>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x147077520>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1470768f0>,
  'occupation': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x147076cb0>,
  'relationship': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x147077250>,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x147077b50>,
  'gender': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x147076650>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1470771c0>,
  'income': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x147076e90>},
 'scaler': {'age': <PETsARD.Processor.Scaler.Scaler_Standard at 0x147076aa0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.Scaler_Standard at 0x147075db0>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.Scaler_Standard at 0x147076200>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1470762c0>,
  'capital-loss': <PETsARD.Processor.Scaler.Scaler_Standard at 0x147077fa0>,
  'hours-per-week': <PETsARD.Processor.Scaler.Scaler_Standard at 0x147077160>,
  'native-country': None,
  'income': None}}

In [26]:
pm2.fit(df2)

In [27]:
df_transformed2 = pm2.transform(df2)

In [28]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.995129,0.419636,0.351675,0.817246,-1.197259,0.576000,0.771850,0.814471,0.909579,0.119881,-0.144804,-0.217127,-0.034087,0.656373,0.758353
1,-0.046942,0.521350,-0.945524,0.147300,-0.419335,0.384591,0.938149,0.284641,0.280478,0.666893,-0.144804,-0.217127,0.772930,0.644357,0.541253
2,-0.776316,0.834219,1.394723,0.851436,0.747550,0.412524,0.975781,0.096570,0.563953,0.497854,-0.144804,-0.217127,-0.034087,0.823978,0.834865
3,-1.068066,0.134905,1.704525,0.542329,-0.030373,0.494920,0.721425,0.886959,0.590651,0.767062,-0.144804,-0.217127,-0.034087,0.427895,0.174313
4,-0.192816,0.986942,0.215911,0.637949,1.136512,0.081899,0.449942,0.223086,0.643184,0.182349,-0.144804,-0.217127,-0.034087,0.128032,0.648776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,1.047121,0.137617,1.251867,0.745730,1.525474,0.038508,0.361107,0.186437,0.161470,0.081792,-0.144804,-0.217127,-0.034087,0.779680,0.959426
26929,-1.213941,0.610126,1.140952,0.426150,-0.030373,0.711821,0.982100,0.444400,0.831393,0.415254,-0.144804,-0.217127,-0.034087,0.512192,0.546926
26930,-0.849254,0.550941,0.640492,0.869504,0.747550,0.027860,0.962769,0.936040,0.250735,0.826711,-0.144804,-0.217127,-0.195490,0.885247,0.621185
26931,0.098933,0.710118,-0.334178,0.317377,-0.419335,0.112207,0.757791,0.334204,0.520697,0.187889,-0.144804,-0.217127,-0.034087,0.637628,0.768531
26932,1.411808,0.344640,-0.357510,0.264035,-0.419335,0.960177,0.502446,0.821456,0.533878,0.914678,-0.144804,-0.217127,-0.034087,0.024079,0.325752

In [29]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [30]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,24.0,Private,369667.0,Some-college,10.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
4,36.0,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26929,22.0,Private,310152.0,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
26930,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
26931,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26932,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K

In [31]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [32]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [33]:
df_inverse2.isna().any(axis=1).mean()

0.07139939850740727

In [34]:
pm.get_changes()

    processor  col            current          default
0  missingist  age  Missingist_Median  Missingist_Mean
1  outlierist  age  Outlierist_ZScore   Outlierist_IQR
2     encoder  gen      Encoder_Label  Encoder_Uniform
3      scaler  age         Scaler_Log  Scaler_Standard

In [35]:
from sdv.metadata import SingleTableMetadata

In [36]:
sdvmd = SingleTableMetadata()

In [37]:
sdvmd.detect_from_dataframe(df)

In [38]:
t = sdvmd.to_dict()

In [39]:
sdvmd2 = SingleTableMetadata()

In [40]:
mm = m.to_sdv()