In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [43]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [44]:
df = loader.data

In [45]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'categorical', 'na_percentage': 0.0},
                'pir': {'type': 'categorical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [46]:
pm = PETsARD.HyperProcessor(metadata)

In [47]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [48]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [72]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': Missingist_Drop(), 'age': Missingist_Mean()},
            'outlierist': {'gen': None, 'age': Outlierist_ZScore()},
            'encoder': {'gen': Encoder_Label()},
            'scaler': {'age': Scaler_Log()}}

In [73]:
pm.update_config(config_1)

In [74]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14798d120>,
  'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x147a7c7c0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1479e6bc0>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1479e6ad0>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x10ab6ea70>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1479e6ef0>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1479e5ed0>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1479e6ec0>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1479e49d0>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1479e54b0>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1479e7340>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1479e7550>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.Outlierist_ZScore at 0x147a7ca30>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1479e5420>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1479e5f60>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1479e6d70>,
  'qm': None,
  'dia': None},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Label at 0x147a7c3a0>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1479e6740>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1479e5540>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1479e70a0>,
  'bmi': None,
  'dep': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1479e71f0>,
  'pir': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1479e5d20>,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1479e73d0>,
  'dia': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1479e75e0>},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Log at 0x147a7c430>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1479e6980>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1479e5930>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1479e72e0>,
  'qm': None,
  'dia': None}}

In [75]:
pm.fit(df, ['missingist', 'encoder', 'scaler'])

In [76]:
df_transformed = pm.transform(df)

In [77]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,1,4.127134,0.141870,0.340264,0.109719,-0.202041,0.466275,0.508780,0.0,0.0,0.280484,0.883338
1,1,3.970292,0.294531,0.630113,0.796667,0.235906,0.290801,0.824982,0.0,0.0,0.245069,0.560664
2,1,4.356709,0.020557,0.659332,0.435029,-0.056059,0.453748,0.551890,0.0,0.0,0.817776,0.855186
3,0,4.025352,0.075650,0.418136,0.849375,1.929305,0.895108,0.726805,0.0,0.0,0.957217,0.688171
4,0,3.737670,0.473912,0.247616,0.709060,-1.296911,0.969152,0.394717,0.0,0.0,0.712627,0.121648
...,...,...,...,...,...,...,...,...,...,...,...,...
4185,1,3.218876,0.810126,0.340875,0.610156,-1.194723,0.505754,0.393732,0.0,0.0,0.081789,0.578735
4186,0,4.330733,0.313059,0.596425,0.940491,-1.121732,0.835503,0.201615,0.0,0.0,0.033611,0.255017
4187,0,4.382027,0.236709,0.185474,0.967652,0.265103,0.044047,0.077644,0.0,0.0,0.110605,0.244179
4188,1,3.555348,0.098630,0.881419,0.388216,-0.464810,0.422826,0.872369,0.0,0.0,0.183616,0.129974
4189,0,3.178054,0.220493,0.379541,0.579253,-1.136330,0.547001,0.601494,0.0,0.0,0.912514,0.168747

In [78]:
df_inverse = pm.inverse_transform(df_transformed)

In [79]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,61.999996,White,Graduate,Married,27.799999,0,0,0.0,0.0,Q2,1
1,Male,52.999996,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
2,Male,78.000015,White,HighSchool,Married,28.799999,0,0,0.0,0.0,Q3,1
3,Female,55.999992,White,Graduate,Parther,42.400002,1,0,0.0,0.0,Q3,0
4,Female,42.000004,Black,College,Divorced,20.299999,1,0,0.0,0.0,Q4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4185,Male,25.000002,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
4186,Female,76.000000,White,HighSchool,Widowed,21.500000,1,0,0.0,0.0,Q1,0
4187,Female,80.000000,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
4188,Male,35.000004,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0
4189,Female,24.000000,White,Graduate,Never,21.400000,0,0,0.0,0.0,Q3,0

In [80]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Inverse successful:
gen      True
age     False
race     True
edu      True
mar      True
bmi     False
dep      True
pir      True
gh       True
mets     True
qm       True
dia      True
dtype: bool
Numeric close (age): True
Numeric close (bmi): True