In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'categorical', 'na_percentage': 0.0},
                'pir': {'type': 'categorical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [7]:
pm = PETsARD.HyperProcessor(metadata)

In [8]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [9]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [10]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': Missingist_Drop(), 'age': Missingist_Mean()},
            'outlierist': {'gen': None, 'age': Outlierist_ZScore()},
            'encoder': {'gen': Encoder_Label()},
            'scaler': {'age': Scaler_Log()}}

In [11]:
pm.update_config(config_1)

In [12]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9fa890>,
  'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1061e2110>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9ae710>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9af580>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9af070>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14f9aec20>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9f8730>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9f9810>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14f9f9870>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14f9fb250>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9aef50>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9fb370>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.Outlierist_ZScore at 0x127490790>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14f9afe50>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14f9fb1c0>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x10618c760>,
  'qm': None,
  'dia': None},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Label at 0x14f9aec50>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9af250>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9ae800>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9af280>,
  'bmi': None,
  'dep': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9f94b0>,
  'pir': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9f9840>,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9fb3d0>,
  'dia': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9fb100>},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Log at 0x14f9af8e0>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14f9af610>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14f9fb220>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1274907c0>,
  'qm': None,
  'dia': None}}

In [13]:
pm.fit(df)

In [14]:
df_transformed = pm.transform(df)

In [15]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,1,4.127134,0.286689,0.339258,0.210729,-0.202041,0.398134,0.533006,0.0,0.0,0.416386,0.875713
1,1,3.970292,0.031392,0.741668,0.786635,0.235906,0.158192,0.957480,0.0,0.0,0.072770,0.287267
2,1,4.356709,0.124044,0.715847,0.233150,-0.056059,0.207824,0.311445,0.0,0.0,0.965706,0.933391
3,0,4.025352,0.273712,0.495372,0.869502,1.929305,0.846352,0.344983,0.0,0.0,0.768825,0.524601
4,0,3.737670,0.497701,0.214308,0.735546,-1.296911,0.795936,0.060217,0.0,0.0,0.674397,0.515401
...,...,...,...,...,...,...,...,...,...,...,...,...
4061,1,3.218876,0.823102,0.454443,0.635592,-1.194723,0.075069,0.649878,0.0,0.0,0.107261,0.409829
4062,0,4.330733,0.235909,0.548965,0.926944,-1.121732,0.917870,0.620728,0.0,0.0,0.207642,0.277059
4063,0,4.382027,0.315313,0.216332,0.949860,0.265103,0.613368,0.266321,0.0,0.0,0.204083,0.785625
4064,1,3.555348,0.212351,0.788361,0.286991,-0.464810,0.700158,0.937964,0.0,0.0,0.000426,0.022859
4065,0,3.178054,0.117460,0.510402,0.653389,-1.136330,0.100305,0.558606,0.0,0.0,0.768094,0.407330

In [16]:
df_inverse = pm.inverse_transform(df_transformed)

In [17]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,61.999996,White,Graduate,Married,27.799999,0,0,0.0,0.0,Q2,1
1,Male,52.999996,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
2,Male,78.000015,White,HighSchool,Married,28.799999,0,0,0.0,0.0,Q3,1
3,Female,55.999992,White,Graduate,Parther,42.400002,1,0,0.0,0.0,Q3,0
4,Female,42.000004,Black,College,Divorced,20.299999,1,0,0.0,0.0,Q4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4061,Male,25.000002,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
4062,Female,76.000000,White,HighSchool,Widowed,21.500000,1,0,0.0,0.0,Q1,0
4063,Female,80.000000,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
4064,Male,35.000004,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0
4065,Female,24.000000,White,Graduate,Never,21.400000,0,0,0.0,0.0,Q3,0

In [18]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [19]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [20]:
df2 = loader2.data

In [21]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [22]:
pm2 = PETsARD.HyperProcessor(metadata2)

In [23]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fb8fd60>,
  'workclass': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8f5b0>,
  'fnlwgt': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fb8f550>,
  'education': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8f3a0>,
  'educational-num': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fb8ec80>,
  'marital-status': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8f190>,
  'occupation': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8dbd0>,
  'relationship': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8e830>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8ea10>,
  'gender': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8e5f0>,
  'capital-gain': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fb8dab0>,
  'capital-loss': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fb8e2c0>,
  'hours-per-week': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14fb8e170>,
  'native-country': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14fb8e7a0>,
  'income': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14f9aebc0>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14fb8fdc0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14fb8f400>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14fb8f2b0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14fb8e950>,
  'capital-loss': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14fb8e260>,
  'hours-per-week': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14fb8e110>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fb8f4f0>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9aeef0>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fb8e710>,
  'occupation': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fb8f0d0>,
  'relationship': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fb8e8c0>,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fb8eaa0>,
  'gender': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fb8e680>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14fb8edd0>,
  'income': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14f9ae620>},
 'scaler': {'age': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fb8f8e0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fb8f340>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fb8f130>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fb8ffd0>,
  'capital-loss': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fb8e1d0>,
  'hours-per-week': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14fb8c1c0>,
  'native-country': None,
  'income': None}}

In [24]:
pm2.fit(df2)

In [25]:
df_transformed2 = pm2.transform(df2)

In [26]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.995129,0.555096,0.351675,0.811807,-1.197259,0.778476,0.806031,0.666583,0.895195,0.300648,-0.144804,-0.217127,-0.034087,0.132846,0.736224
1,-0.046942,0.700703,-0.945524,0.042422,-0.419335,0.447436,0.937476,0.317834,0.351367,0.262457,-0.144804,-0.217127,0.772930,0.903047,0.502606
2,-0.776316,0.835771,1.394723,0.852973,0.747550,0.449474,0.990759,0.327628,0.471852,0.293161,-0.144804,-0.217127,-0.034087,0.466683,0.850750
3,-1.068066,0.093251,1.704525,0.500858,-0.030373,0.651281,0.698819,0.828328,0.537357,0.896264,-0.144804,-0.217127,-0.034087,0.464948,0.079878
4,-0.192816,0.992479,0.215911,0.640610,1.136512,0.406172,0.515480,0.143764,0.830404,0.614228,-0.144804,-0.217127,-0.034087,0.176449,0.417761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,1.047121,0.083033,1.251867,0.762339,1.525474,0.331268,0.374787,0.074018,0.493335,0.611724,-0.144804,-0.217127,-0.034087,0.708427,0.950480
26929,-1.213941,0.028772,1.140952,0.491502,-0.030373,0.666359,0.979521,0.641873,0.239020,0.372402,-0.144804,-0.217127,-0.034087,0.068353,0.523558
26930,-0.849254,0.623736,0.640492,0.872760,0.747550,0.064869,0.966336,0.926756,0.084039,0.940320,-0.144804,-0.217127,-0.195490,0.804978,0.622683
26931,0.098933,0.098527,-0.334178,0.032141,-0.419335,0.059796,0.764416,0.049715,0.393554,0.062834,-0.144804,-0.217127,-0.034087,0.502095,0.986843
26932,1.411808,0.365860,-0.357510,0.061386,-0.419335,0.983622,0.400267,0.839021,0.303772,0.727271,-0.144804,-0.217127,-0.034087,0.413878,0.295718

In [27]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [28]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,NaN,336951.0,Assoc-acdm,12.0,Married-civ-spouse,NaN,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,24.0,Private,369667.0,Some-college,10.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
4,36.0,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26929,22.0,Private,310152.0,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
26930,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
26931,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26932,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K

In [29]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [40]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [41]:
df_inverse2.isna().any(axis=1).mean()

0.07139939850740727