In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'categorical', 'na_percentage': 0.0},
                'pir': {'type': 'categorical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [7]:
pm = PETsARD.HyperProcessor(metadata)

In [8]:
from PETsARD.Processor.Missingist import Missingist_Mean, Missingist_Drop
from PETsARD.Processor.Outlierist import Outlierist_IsolationForest

In [9]:
config_1 = {'missingist': {'gen': Missingist_Drop(),
  'age': Missingist_Mean()},
 'outlierist': {'gen': Outlierist_IsolationForest(),
  'age': None}}

In [10]:
pm.update_config(config_1)

In [11]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5f5450>,
  'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14e5f6830>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5ad9c0>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5ae770>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5aeb60>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14e5ada50>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5ae470>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5f5810>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14e5f58a0>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x14e5f72b0>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5f7460>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Drop at 0x14e5f70d0>},
 'outlierist': {'gen': <PETsARD.Processor.Outlierist.Outlierist_IsolationForest at 0x14e5ae9e0>,
  'age': None,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14e5af070>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14e5f5990>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x14e5f7400>,
  'qm': None,
  'dia': None},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x11f53eaa0>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14e5aeef0>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14e5af6a0>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14e5af430>,
  'bmi': None,
  'dep': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14e5f4160>,
  'pir': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14e5f5900>,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14e5f7070>,
  'dia': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x14e5f7010>},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14e5af760>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14e5aea40>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14e5f72e0>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x14e5f7430>,
  'qm': None,
  'dia': None}}

In [12]:
pm.fit(df)

In [13]:
df

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,62.0,White,Graduate,Married,27.799999,0,0,0.0,0.0,Q2,1
1,Male,53.0,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
2,Male,78.0,White,HighSchool,Married,28.799999,0,0,0.0,0.0,Q3,1
3,Female,56.0,White,Graduate,Parther,42.400002,1,0,0.0,0.0,Q3,0
4,Female,42.0,Black,College,Divorced,20.299999,1,0,0.0,0.0,Q4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4185,Male,25.0,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
4186,Female,76.0,White,HighSchool,Widowed,21.500000,1,0,0.0,0.0,Q1,0
4187,Female,80.0,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
4188,Male,35.0,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0
4189,Female,24.0,White,Graduate,Never,21.400000,0,0,0.0,0.0,Q3,0

In [14]:
df_transformed = pm.transform(df)

In [16]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,0.823834,0.645459,0.291470,0.342480,0.122458,-0.202041,0.214870,0.737589,0.0,0.0,0.331291,0.875135
1,0.722891,0.142249,0.081375,0.597220,0.772175,0.235906,0.289989,0.905112,0.0,0.0,0.094923,0.562659
2,0.056702,1.204581,0.560592,0.954339,0.978886,-0.085255,0.035080,0.195367,0.0,0.0,0.159100,0.635549
3,0.628084,0.309986,0.514233,0.619623,0.718629,0.644658,0.733000,0.124659,0.0,0.0,0.845946,0.920730
4,0.643521,-0.249136,0.172285,0.333637,0.842528,-0.231238,0.332969,0.005400,0.0,0.0,0.852857,0.690796
...,...,...,...,...,...,...,...,...,...,...,...,...
2283,0.898832,-0.920083,0.496097,0.293763,0.070222,0.250505,0.004482,0.582665,0.0,0.0,0.956020,0.750145
2284,0.712020,-1.423293,0.715713,0.304181,0.624830,-1.194723,0.338863,0.381882,0.0,0.0,0.222991,0.705093
2285,0.336198,1.651879,0.280063,0.030353,0.962498,0.265103,0.170854,0.114794,0.0,0.0,0.088575,0.318874
2286,0.820399,-0.864171,0.113926,0.849671,0.350536,-0.464810,0.238140,0.867957,0.0,0.0,0.077775,0.037406
2287,0.404367,-1.479205,0.183861,0.424562,0.544135,-1.136330,0.727638,0.022626,0.0,0.0,0.857785,0.250312

In [17]:
df_inverse = pm.inverse_transform(df_transformed)

In [18]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,62.0,White,Graduate,Married,27.799999,0,0,0.0,0.0,Q2,1
1,Male,53.0,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
2,Female,72.0,Mexican,11th,Separated,28.600000,0,0,0.0,0.0,Q1,0
3,Male,56.0,Black,HighSchool,Divorced,33.599998,0,0,0.0,0.0,Q3,1
4,Male,46.0,White,Graduate,Parther,27.600000,0,0,0.0,0.0,Q3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2283,Male,34.0,Black,Graduate,Married,30.900000,0,0,0.0,0.0,Q3,0
2284,Male,25.0,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
2285,Female,80.0,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
2286,Male,35.0,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0
2287,Female,24.0,White,Graduate,Never,21.400000,0,0,0.0,0.0,Q3,0

In [19]:
(df_inverse == df).all()

ValueError: Can only compare identically-labeled (both index and columns) DataFrame objects

In [ ]:
np.isclose(df_inverse.age, df.age).all()

True

In [ ]:
np.isclose(df_inverse.bmi, df.bmi).all()

True