test cases:

1. get the expected output
2. can throw out errors (unfitted, format error, etc.)
3. produce correct (or nearly correct) amount of NAs

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
def metadata_builder(data):
    metadata = {'metadata_col': None, 'metadata_global': {}}

    metadata['metadata_global']['row_num'] = data.shape[0]
    metadata['metadata_global']['col_num'] = data.shape[1]
    metadata['metadata_global']['na_percentage'] = data.isna().any(axis=1).mean()

    # create type and na_percentage keys and values automatically
    metadata['metadata_col'] = data.dtypes.reset_index(name='dtype')\
        .merge(data.isna().mean(axis=0).reset_index(name='na_percentage'), 
               on='index').set_index('index').to_dict('index')
    
    return metadata

In [5]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [6]:
df = loader.data

In [7]:
m = metadata_builder(df)

In [8]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'numerical', 'na_percentage': 0.0},
                'pir': {'type': 'numerical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [9]:
pm = PETsARD.HyperProcessor(m)

In [10]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [11]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [12]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': Missingist_Drop(), 'age': Missingist_Mean()},
            'outlierist': {'gen': None, 'age': Outlierist_ZScore()},
            'encoder': {'gen': Encoder_Label()},
            'scaler': {'age': Scaler_Log()}}

In [13]:
pm.update_config(config_1)

In [14]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150bff220>,
  'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bfc6d0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150bb2ec0>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150bb37c0>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150bfce80>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bfdae0>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bfdcc0>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bfdf00>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bff760>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bff610>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150bff580>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bff4c0>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.Outlierist_ZScore at 0x150bfda20>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150bfdc90>,
  'dep': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150bfdd80>,
  'pir': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150bfdea0>,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x10b16ea70>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150bff6a0>,
  'qm': None,
  'dia': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150bff370>},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Label at 0x150bfd7e0>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150bb2e60>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150bb3310>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150bfdab0>,
  'bmi': None,
  'dep': None,
  'pir': None,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150bff460>,
  'dia': None},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Log at 0x150bfd750>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150bfdc00>,
  'dep': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150bfddb0>,
  'pir': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150bff730>,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x11ee80760>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150bff550>,
  'qm': None,
  'dia': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150bff310>}}

In [15]:
pm.fit(df)

In [16]:
df_transformed = pm.transform(df)

In [17]:
df_inverse = pm.inverse_transform(df_transformed)

/Users/alex/PETsARD/PETsARD/HyperProcessor/HyperProcessor.py:453: RuntimeWarning: invalid value encountered in scalar divide
  adjusted_na_percentage = self._metadata['metadata_col'][col].get('na_percentage', 0.0)\

In [18]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Female,72.000000,Mexican,11th,Separated,28.6,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
1,Male,46.000000,White,Graduate,Parther,27.6,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2,Male,45.000004,Other,11th,Never,24.1,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
3,Female,30.000002,Hispanic,College,Parther,26.6,0.0,2.775558e-17,0.0,0.0,Q4,2.775558e-17
4,Female,27.000002,Black,College,Never,38.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
2144,Female,41.000000,Other,Graduate,Married,20.9,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2145,Male,34.000000,Black,Graduate,Married,30.9,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2146,Male,25.000002,Other,Graduate,Never,21.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2147,Female,80.000000,White,College,Widowed,31.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2148,Female,24.000000,White,Graduate,Never,21.4,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17

In [19]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [20]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [21]:
df2 = loader2.data

In [22]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [23]:
m2 = metadata_builder(df2)

In [24]:
pm2 = PETsARD.HyperProcessor(m2)

In [25]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150bb2da0>,
  'workclass': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9f490>,
  'fnlwgt': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150e9fd30>,
  'education': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9e5c0>,
  'educational-num': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150e9d480>,
  'marital-status': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9ed40>,
  'occupation': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9f310>,
  'relationship': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9e0b0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9e110>,
  'gender': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9e920>,
  'capital-gain': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150e9e650>,
  'capital-loss': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150e9ec20>,
  'hours-per-week': <PETsARD.Processor.Missingist.Missingist_Mean at 0x150e9e260>,
  'native-country': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9ee60>,
  'income': <PETsARD.Processor.Missingist.Missingist_Drop at 0x150e9ef20>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150e9fb50>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150e9f4f0>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150e9e7d0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150e9e5f0>,
  'capital-loss': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150e9ec50>,
  'hours-per-week': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x150e9e200>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9fe20>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9ea10>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9ed10>,
  'occupation': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9f610>,
  'relationship': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9e740>,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9f010>,
  'gender': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9c970>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9eec0>,
  'income': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x150e9efb0>},
 'scaler': {'age': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150e9f3d0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150e9f190>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150e9ece0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150e9ebf0>,
  'capital-loss': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150e9e290>,
  'hours-per-week': <PETsARD.Processor.Scaler.Scaler_Standard at 0x150e9ee00>,
  'native-country': None,
  'income': None}}

In [26]:
pm2.fit(df2)

In [27]:
df_transformed2 = pm2.transform(df2)

In [28]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.995129,0.681258,0.351675,0.839458,-1.197259,0.767621,0.812395,0.766170,0.919479,0.281783,-0.144804,-0.217127,-0.034087,0.381833,0.471285
1,-0.046942,0.603781,-0.945524,0.219957,-0.419335,0.150717,0.909759,0.317224,0.201287,0.403095,-0.144804,-0.217127,0.772930,0.155169,0.124000
2,-0.776316,0.829108,1.394723,0.849138,0.747550,0.457211,0.990716,0.384085,0.755605,0.110005,-0.144804,-0.217127,-0.034087,0.444686,0.944029
3,-1.068066,0.582182,1.704525,0.440180,-0.030373,0.481901,0.646289,0.834848,0.656166,0.792062,-0.144804,-0.217127,-0.034087,0.592438,0.530365
4,-0.192816,0.989653,0.215911,0.680870,1.136512,0.406005,0.412603,0.099667,0.015667,0.163146,-0.144804,-0.217127,-0.034087,0.875030,0.517125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,1.047121,0.733746,1.251867,0.731199,1.525474,0.404001,0.368746,0.175799,0.204532,0.290744,-0.144804,-0.217127,-0.034087,0.146279,0.858872
26929,-1.213941,0.024577,1.140952,0.531514,-0.030373,0.462588,0.990515,0.446051,0.088594,0.096574,-0.144804,-0.217127,-0.034087,0.881994,0.681547
26930,-0.849254,0.091292,0.640492,0.850195,0.747550,0.350117,0.950663,0.942232,0.382379,0.903995,-0.144804,-0.217127,-0.195490,0.521702,0.215445
26931,0.098933,0.554570,-0.334178,0.126938,-0.419335,0.197723,0.791213,0.400371,0.833360,0.461436,-0.144804,-0.217127,-0.034087,0.635692,0.994611
26932,1.411808,0.603980,-0.357510,0.097734,-0.419335,0.981521,0.418384,0.862213,0.022730,0.699571,-0.144804,-0.217127,-0.034087,0.565428,0.437105

In [29]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [30]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,24.0,Private,369667.0,Some-college,10.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
4,36.0,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26929,22.0,Private,310152.0,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
26930,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
26931,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26932,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K

In [31]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [32]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [33]:
df_inverse2.isna().any(axis=1).mean()

0.07128801099023503

In [34]:
pd.api.types.is_numeric_dtype(df2.age.dtypes)

True

In [35]:
isinstance(pm2._config['encoder']['workclass'], pm2._DEFAULT_ENCODER[pm2._metadata['metadata_col']['workclass']['infer_dtype']])

True