In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'categorical', 'na_percentage': 0.0},
                'pir': {'type': 'categorical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [7]:
pm = PETsARD.HyperProcessor(metadata)

In [8]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [9]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [10]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': Missingist_Drop(), 'age': Missingist_Mean()},
            'outlierist': {'gen': None, 'age': Outlierist_ZScore()},
            'encoder': {'gen': Encoder_Label()},
            'scaler': {'age': Scaler_Log()}}

In [11]:
pm.update_config(config_1)

In [12]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568ed900>,
  'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1568ef3d0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568ecee0>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568ecfd0>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568ed510>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1568ed240>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568ef970>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568ec0a0>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x103c90820>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1568efa60>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568ef310>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1568eff70>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.Outlierist_ZScore at 0x1568efd00>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1568ef7c0>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x117940730>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1568eca30>,
  'qm': None,
  'dia': None},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Label at 0x1568ec640>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1568ed030>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1568ed0c0>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1568ef6a0>,
  'bmi': None,
  'dep': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1568ec040>,
  'pir': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1568ec190>,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1568ec460>,
  'dia': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1568eca90>},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Log at 0x1568ec5b0>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1568ee530>,
  'dep': None,
  'pir': None,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1179409a0>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1568ed330>,
  'qm': None,
  'dia': None}}

In [13]:
pm.fit(df)

In [14]:
df_transformed = pm.transform(df)

In [15]:
df_transformed

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,1,4.127134,0.196884,0.403247,0.509557,-0.202041,0.256004,0.155544,0.0,0.0,0.381664,0.852712
1,1,3.970292,0.208836,0.604266,0.728354,0.235906,0.411461,0.942729,0.0,0.0,0.129623,0.058706
2,1,4.356709,0.301281,0.732155,0.505751,-0.056059,0.313426,0.670412,0.0,0.0,0.919606,0.888843
3,0,4.025352,0.217795,0.443778,0.864813,1.929305,0.853338,0.540151,0.0,0.0,0.924981,0.483185
4,0,3.737670,0.426624,0.248455,0.777217,-1.296911,0.983620,0.664041,0.0,0.0,0.554719,0.016865
...,...,...,...,...,...,...,...,...,...,...,...,...
4061,1,3.218876,0.801740,0.322885,0.692115,-1.194723,0.415259,0.629851,0.0,0.0,0.036844,0.358643
4062,0,4.330733,0.195422,0.716466,0.924613,-1.121732,0.948841,0.128374,0.0,0.0,0.078268,0.044011
4063,0,4.382027,0.077150,0.160959,0.926334,0.265103,0.159442,0.773970,0.0,0.0,0.078135,0.741020
4064,1,3.555348,0.078363,0.757285,0.063084,-0.464810,0.678748,0.973465,0.0,0.0,0.013937,0.422674
4065,0,3.178054,0.235679,0.502171,0.690632,-1.136330,0.163345,0.737588,0.0,0.0,0.781044,0.054300

In [16]:
df_inverse = pm.inverse_transform(df_transformed)

In [17]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Male,61.999996,White,Graduate,Married,27.799999,0,0,0.0,0.0,Q2,1
1,Male,52.999996,White,HighSchool,Divorced,30.799999,0,1,0.0,0.0,Q1,0
2,Male,78.000015,White,HighSchool,Married,28.799999,0,0,0.0,0.0,Q3,1
3,Female,55.999992,White,Graduate,Parther,42.400002,1,0,0.0,0.0,Q3,0
4,Female,42.000004,Black,College,Divorced,20.299999,1,0,0.0,0.0,Q4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
4061,Male,25.000002,Other,Graduate,Never,21.000000,0,0,0.0,0.0,Q1,0
4062,Female,76.000000,White,HighSchool,Widowed,21.500000,1,0,0.0,0.0,Q1,0
4063,Female,80.000000,White,College,Widowed,31.000000,0,0,0.0,0.0,Q1,0
4064,Male,35.000004,White,9th,Married,26.000000,0,1,0.0,0.0,Q1,0
4065,Female,24.000000,White,Graduate,Never,21.400000,0,0,0.0,0.0,Q3,0

In [18]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.