test cases:

1. get the expected output
2. can throw out errors (unfitted, format error, etc.)
3. produce correct (or nearly correct) amount of NAs

In [1]:
import pandas as pd
import numpy as np

In [2]:
%cd /Users/alex/PETsARD

/Users/alex/PETsARD

In [3]:
import PETsARD

In [4]:
loader = PETsARD.Loader(filepath = '[NHANES] B.csv',
                                header_exist = False,
                                header_names = ['gen','age','race','edu','mar','bmi','dep','pir','gh','mets','qm','dia']
                               )
print(loader.data.head(1))

    gen   age   race       edu      mar        bmi  dep  pir   gh  mets  qm  \
0  Male  62.0  White  Graduate  Married  27.799999    0    0  0.0   0.0  Q2

   dia
0    1

In [5]:
df = loader.data

In [6]:
m = PETsARD.Metadata()
m.build_metadata(df)

In [7]:
metadata = {'metadata_col': {
                'gen': {'type': 'categorical', 'na_percentage': 0.0},
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'edu': {'type': 'categorical', 'na_percentage': 0.0},
                'mar': {'type': 'categorical', 'na_percentage': 0.0},
                'bmi': {'type': 'numerical', 'na_percentage': 0.0},
                'dep': {'type': 'numerical', 'na_percentage': 0.0},
                'pir': {'type': 'numerical', 'na_percentage': 0.0},
                'gh': {'type': 'numerical', 'na_percentage': 0.0},
                'mets': {'type': 'numerical', 'na_percentage': 0.0},
                'qm': {'type': 'categorical', 'na_percentage': 0.0},
                'dia': {'type': 'numerical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 4190,
                 'col_num': 12,
                 'na_percentage': 0.0
                }
            }

In [8]:
pm = PETsARD.HyperProcessor(m)

In [9]:
from PETsARD.Processor.Missingist import *
from PETsARD.Processor.Outlierist import *
from PETsARD.Processor.Encoder import *
from PETsARD.Processor.Scaler import *

In [10]:
# df.loc[[1,2,3,4,5], 'gen'] = np.nan
# df.loc[[10,20,30,40,5], 'age'] = np.nan

In [11]:
# test global outlierist transformation

config_1 = {'missingist': {'gen': Missingist_Drop(), 'age': Missingist_Simple(5)},
            'outlierist': {'gen': None, 'age': Outlierist_ZScore()},
            'encoder': {'gen': Encoder_Label()},
            'scaler': {'age': Scaler_Log()}}

In [12]:
pm.update_config(config_1)

In [13]:
pm.get_config()

{'missingist': {'gen': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1481d5960>,
  'age': <PETsARD.Processor.Missingist.Missingist_Simple at 0x1481d71c0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1481d5ed0>,
  'edu': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1481d5f90>,
  'mar': <PETsARD.Processor.Missingist.Missingist_Drop at 0x11f3fc940>,
  'bmi': <PETsARD.Processor.Missingist.Missingist_Mean at 0x105494460>,
  'dep': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1481832e0>,
  'pir': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1481d7970>,
  'gh': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1481d7730>,
  'mets': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1481d74f0>,
  'qm': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1481d73d0>,
  'dia': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1481d7370>},
 'outlierist': {'gen': None,
  'age': <PETsARD.Processor.Outlierist.Outlierist_ZScore at 0x1481d6f80>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x148182b90>,
  'dep': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1481d5f60>,
  'pir': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1481d7910>,
  'gh': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1481d7610>,
  'mets': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1481d7550>,
  'qm': None,
  'dia': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1481d7220>},
 'encoder': {'gen': <PETsARD.Processor.Encoder.Encoder_Label at 0x1481d6110>,
  'age': None,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1481d5e70>,
  'edu': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x11f3fc970>,
  'mar': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x10544f340>,
  'bmi': None,
  'dep': None,
  'pir': None,
  'gh': None,
  'mets': None,
  'qm': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1481d7310>,
  'dia': None},
 'scaler': {'gen': None,
  'age': <PETsARD.Processor.Scaler.Scaler_Log at 0x1481d5ae0>,
  'race': None,
  'edu': None,
  'mar': None,
  'bmi': <PETsARD.Processor.Scaler.Scaler_Standard at 0x148183160>,
  'dep': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1481d6020>,
  'pir': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1481d7700>,
  'gh': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1481d7640>,
  'mets': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1481d7400>,
  'qm': None,
  'dia': <PETsARD.Processor.Scaler.Scaler_Standard at 0x1481d4e50>}}

In [14]:
pm.fit(df)

In [15]:
df_transformed = pm.transform(df)

In [16]:
df_inverse = pm.inverse_transform(df_transformed)

/Users/alex/PETsARD/PETsARD/HyperProcessor/HyperProcessor.py:448: RuntimeWarning: invalid value encountered in scalar divide
  adjusted_na_percentage: float = self._metadata['metadata_col'][col].get('na_percentage', 0.0)\

In [17]:
df_inverse

,gen,age,race,edu,mar,bmi,dep,pir,gh,mets,qm,dia
0,Female,72.000000,Mexican,11th,Separated,28.6,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
1,Male,46.000000,White,Graduate,Parther,27.6,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2,Male,45.000004,Other,11th,Never,24.1,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
3,Female,30.000002,Hispanic,College,Parther,26.6,0.0,2.775558e-17,0.0,0.0,Q4,2.775558e-17
4,Female,27.000002,Black,College,Never,38.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
...,...,...,...,...,...,...,...,...,...,...,...,...
2144,Female,41.000000,Other,Graduate,Married,20.9,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2145,Male,34.000000,Black,Graduate,Married,30.9,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17
2146,Male,25.000002,Other,Graduate,Never,21.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2147,Female,80.000000,White,College,Widowed,31.0,0.0,2.775558e-17,0.0,0.0,Q1,2.775558e-17
2148,Female,24.000000,White,Graduate,Never,21.4,0.0,2.775558e-17,0.0,0.0,Q3,2.775558e-17

In [18]:
try:
    print(f'Inverse successful:\n{(df_inverse == df).all()}')
    print(f'Numeric close (age): {np.isclose(df_inverse.age, df.age).all()}')
    print(f'Numeric close (bmi): {np.isclose(df_inverse.bmi, df.bmi).all()}')
except:
    print('Not applicable.')

Not applicable.

In [19]:
loader2 = PETsARD.Loader(filepath = '[Adt Income] adult.csv'
                               ,na_values = {k : '?' for k in ['workclass'
                                                              ,'occupation'
                                                              ,'native-country'
                                                              ]
                                            }
                               )
print(loader2.data.head(1))

   age workclass  fnlwgt education  educational-num marital-status  \
0   25   Private  226802      11th                7  Never-married

          occupation relationship   race gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black   Male             0             0

   hours-per-week native-country income
0              40  United-States  <=50K

In [20]:
df2 = loader2.data

In [21]:
metadata2 = {'metadata_col': {
                'age': {'type': 'numerical', 'na_percentage': 0.0},
                'workclass': {'type': 'categorical', 'na_percentage': 0.057307},
                'fnlwgt': {'type': 'numerical', 'na_percentage': 0.0},
                'education': {'type': 'categorical', 'na_percentage': 0.0},
                'educational-num': {'type': 'numerical', 'na_percentage': 0.0},
                'marital-status': {'type': 'categorical', 'na_percentage': 0.0},
                'occupation': {'type': 'categorical', 'na_percentage': 0.057512},
                'relationship': {'type': 'categorical', 'na_percentage': 0.0},
                'race': {'type': 'categorical', 'na_percentage': 0.0},
                'gender': {'type': 'categorical', 'na_percentage': 0.0},
                'capital-gain': {'type': 'numerical', 'na_percentage': 0.0},
                'capital-loss': {'type': 'numerical', 'na_percentage': 0.0},
                'hours-per-week': {'type': 'numerical', 'na_percentage': 0.0},
                'native-country': {'type': 'categorical', 'na_percentage': 0.017546},
                'income': {'type': 'categorical', 'na_percentage': 0.0}
                },
             'metadata_global':{
                 'row_num': 48842,
                 'col_num': 15,
                 'na_percentage': 0.07411653904426518
                }
            }

In [22]:
m2 = PETsARD.Metadata()
m2.build_metadata(df2)

In [23]:
pm2 = PETsARD.HyperProcessor(m2)

In [24]:
pm2.get_config()

{'missingist': {'age': <PETsARD.Processor.Missingist.Missingist_Mean at 0x148377610>,
  'workclass': <PETsARD.Processor.Missingist.Missingist_Drop at 0x148377b80>,
  'fnlwgt': <PETsARD.Processor.Missingist.Missingist_Mean at 0x148376b60>,
  'education': <PETsARD.Processor.Missingist.Missingist_Drop at 0x148376c50>,
  'educational-num': <PETsARD.Processor.Missingist.Missingist_Mean at 0x148376aa0>,
  'marital-status': <PETsARD.Processor.Missingist.Missingist_Drop at 0x148375a50>,
  'occupation': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1483760e0>,
  'relationship': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1483768c0>,
  'race': <PETsARD.Processor.Missingist.Missingist_Drop at 0x148376860>,
  'gender': <PETsARD.Processor.Missingist.Missingist_Drop at 0x1483761d0>,
  'capital-gain': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1483778e0>,
  'capital-loss': <PETsARD.Processor.Missingist.Missingist_Mean at 0x1483773d0>,
  'hours-per-week': <PETsARD.Processor.Missingist.Missingist_Mean at 0x148376950>,
  'native-country': <PETsARD.Processor.Missingist.Missingist_Drop at 0x148376f20>,
  'income': <PETsARD.Processor.Missingist.Missingist_Drop at 0x148376f80>},
 'outlierist': {'age': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1483779a0>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x148376110>,
  'education': None,
  'educational-num': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x1483743d0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x148377c10>,
  'capital-loss': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x148376e00>,
  'hours-per-week': <PETsARD.Processor.Outlierist.Outlierist_IQR at 0x148377fd0>,
  'native-country': None,
  'income': None},
 'encoder': {'age': None,
  'workclass': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x148377910>,
  'fnlwgt': None,
  'education': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x148376fe0>,
  'educational-num': None,
  'marital-status': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x148377df0>,
  'occupation': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x148377070>,
  'relationship': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x148376c20>,
  'race': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1483766b0>,
  'gender': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x1483765c0>,
  'capital-gain': None,
  'capital-loss': None,
  'hours-per-week': None,
  'native-country': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x148376f50>,
  'income': <PETsARD.Processor.Encoder.Encoder_Uniform at 0x148374ac0>},
 'scaler': {'age': <PETsARD.Processor.Scaler.Scaler_Standard at 0x148375b40>,
  'workclass': None,
  'fnlwgt': <PETsARD.Processor.Scaler.Scaler_Standard at 0x148376770>,
  'education': None,
  'educational-num': <PETsARD.Processor.Scaler.Scaler_Standard at 0x148375ae0>,
  'marital-status': None,
  'occupation': None,
  'relationship': None,
  'race': None,
  'gender': None,
  'capital-gain': <PETsARD.Processor.Scaler.Scaler_Standard at 0x148376920>,
  'capital-loss': <PETsARD.Processor.Scaler.Scaler_Standard at 0x148376980>,
  'hours-per-week': <PETsARD.Processor.Scaler.Scaler_Standard at 0x148376ef0>,
  'native-country': None,
  'income': None}}

In [25]:
pm2.fit(df2)

In [26]:
df_transformed2 = pm2.transform(df2)

In [27]:
df_transformed2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,-0.995129,0.492649,0.351675,0.819189,-1.197259,0.468609,0.763715,0.693403,0.870894,0.292538,-0.144804,-0.217127,-0.034087,0.892471,0.114562
1,-0.046942,0.293246,-0.945524,0.114715,-0.419335,0.013365,0.928083,0.240897,0.075545,0.478955,-0.144804,-0.217127,0.772930,0.662884,0.040672
2,-0.776316,0.867639,1.394723,0.870046,0.747550,0.280071,0.984488,0.215915,0.488862,0.381281,-0.144804,-0.217127,-0.034087,0.515107,0.803768
3,-1.068066,0.615062,1.704525,0.358527,-0.030373,0.709945,0.711747,0.827152,0.642957,0.782624,-0.144804,-0.217127,-0.034087,0.613180,0.179396
4,-0.192816,0.983242,0.215911,0.623657,1.136512,0.335758,0.417323,0.204914,0.118271,0.171234,-0.144804,-0.217127,-0.034087,0.567756,0.066715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,1.047121,0.166887,1.251867,0.725520,1.525474,0.402338,0.301772,0.065171,0.204458,0.339752,-0.144804,-0.217127,-0.034087,0.678338,0.870899
26929,-1.213941,0.636511,1.140952,0.477910,-0.030373,0.573088,0.975967,0.518986,0.789680,0.121975,-0.144804,-0.217127,-0.034087,0.329190,0.691563
26930,-0.849254,0.542952,0.640492,0.849877,0.747550,0.201204,0.965466,0.923202,0.514539,0.688495,-0.144804,-0.217127,-0.195490,0.727197,0.611028
26931,0.098933,0.561188,-0.334178,0.049293,-0.419335,0.092688,0.774536,0.004450,0.120862,0.332575,-0.144804,-0.217127,-0.034087,0.081620,0.857197
26932,1.411808,0.069079,-0.357510,0.210983,-0.419335,0.974102,0.455417,0.840971,0.786252,0.813506,-0.144804,-0.217127,-0.034087,0.885555,0.637815

In [28]:
df_inverse2 = pm2.inverse_transform(df_transformed2)

In [29]:
df_inverse2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25.0,Private,226802.0,11th,7.0,Never-married,Machine-op-inspct,Own-child,Black,Male,0.0,0.0,40.0,United-States,<=50K
1,38.0,Private,89814.0,HS-grad,9.0,Married-civ-spouse,Farming-fishing,Husband,White,Male,0.0,0.0,50.0,United-States,<=50K
2,28.0,Local-gov,336951.0,Assoc-acdm,12.0,Married-civ-spouse,Protective-serv,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
3,24.0,Private,369667.0,Some-college,10.0,Never-married,Other-service,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
4,36.0,Federal-gov,212465.0,Bachelors,13.0,Married-civ-spouse,Adm-clerical,Husband,White,Male,0.0,0.0,40.0,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26928,53.0,Private,321865.0,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26929,22.0,Private,310152.0,Some-college,10.0,Never-married,Protective-serv,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
26930,27.0,Private,257302.0,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0.0,0.0,38.0,United-States,<=50K
26931,40.0,Private,154374.0,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0.0,0.0,40.0,United-States,>50K
26932,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K

In [30]:
df2

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [31]:
df_inverse2.isna().mean(axis=0)

age                0.000000
workclass          0.057290
fnlwgt             0.000000
education          0.000000
educational-num    0.000000
marital-status     0.000000
occupation         0.057476
relationship       0.000000
race               0.000000
gender             0.000000
capital-gain       0.000000
capital-loss       0.000000
hours-per-week     0.000000
native-country     0.017525
income             0.000000
dtype: float64

In [32]:
df_inverse2.isna().any(axis=1).mean()

0.07136226933501652

In [33]:
pm.get_changes()

    processor  col            current          default
0  missingist  age  Missingist_Simple  Missingist_Mean
1  outlierist  age  Outlierist_ZScore   Outlierist_IQR
2     encoder  gen      Encoder_Label  Encoder_Uniform
3      scaler  age         Scaler_Log  Scaler_Standard

In [34]:
from sdv.metadata import SingleTableMetadata

In [35]:
sdvmd = SingleTableMetadata()

In [36]:
sdvmd.detect_from_dataframe(df)

In [37]:
t = sdvmd.to_dict()

In [38]:
sdvmd2 = SingleTableMetadata()

In [39]:
mm = m.to_sdv()